[2019-07-12 19:35] DumbJoe opened #10 "Looks lik 1.3 is broken, or could just be me?"
Doesn't show the mobile authentication window anymore, skips it entirely and tries to save and of course won't login since it's guarded with a code...which is never presented....

[2019-07-16 08:03] Frederisk commented on #10
I don't know what happened to you. But it works fine on my device. Maybe you can try to replace another computer to run.

[2019-07-16 08:09] JonasNilson commented on #10
I have no way of verifying the behavior at the moment. You could try the tips available at the forum: https://steamcommunity.com/groups/idlemastery/discussions/0/133257636766989675/?ctp=6

[2019-07-16 17:20] DumbJoe commented on #10
Thanks, tried all those except #5 since I don't have Internet Explorer, but Microsoft Edge as that's replaced it, I believe.

Maybe I can pass a log of some sort that might tell you why it won't go for me?

[2019-07-27 14:20] 1Legend1 opened #11 "Idling Complete"
As soon as i open the program it says "Idling Complete"

[2019-08-02 07:05] JimmyBassy commented on #11
It may be because you already have all the cards for all the games on your library

[2019-08-12 10:42] Prot0o1 opened #12 "Not working something bad."
![image](https://user-images.githubusercontent.com/39096158/62859809-8f18e800-bcfe-11e9-86ac-9961f13450b1.png)
Hello, program not woring for me. Stuck at this screen :S

[2019-08-13 14:52] SuperSandro2000 commented on #12
You have nothing to idle.

[2019-08-28 02:32] kblade07 opened #13 "Login window doesnt work, worked 1 hour ago"
When im trying to login, im getting the old IdleMaster login issue. The window is going away and its not asking me for the guard code. I can type any fake username or password, press login and it will happen again. What should i do?  Steam api broke the extended again?

Later edit:
If you input any steam account, real or fake, the page is gone.

If you open the login page and press Join Steam, it

[2019-08-28 08:31] kblade07 commented on #13
I managed to connect with the browser cookies, sessionID and steamLOGIN from chrome settings. The usual login doest work at all...the page is closing when you input any account, real or false.

[2019-08-29 12:17] anything1232 commented on #13
Browser cache cleared and AppData deleted,

**The log in page does not ask for mobile authentification** and so log in fails.

Win7 64bit, IE11, dot.net (4.7.1) should be fine. And every C++ distributable from the stone age until now.

[2019-08-29 16:20] zeichen980 commented on #13
Same here, a friend tried it 3 and 2 days ago i think and everything was perfectly fine. Now I got some new games I wanted to idle myself and it doesn't work. Not at my new PC and not at my old Laptop where the IdleMaster Folder (and the AppData folder of IdleMaster) wasn't changed since the last time I tried when it worked.
Just closing right after the "Login" button is pressed. Even if both text

[2019-08-30 00:19] ArcticFoxen commented on #13
its comeback, working now without any problem if u still getting problem try to clean install another location on pc.

[2019-08-30 11:20] zeichen980 commented on #13
It is indeed. Thank you for the update!

[2019-09-01 22:14] HoldOffHunger opened #14 "Build Issues ~ Cannot Compile"
**1** - `packages` is not a directory in the repo.

In `steamidle.csproj`, I see this...

    <Reference Include="Steamworks.NET">
      <HintPath>..\packages\Steamworks.NET.dll</HintPath>
    </Reference>

And yet, I do not see any "packages" folders within the repo.  The code did not compile until I updated `steamidle.csproj` to have the correct location of the Steamworks DLL file.

**2** - My m

[2019-09-03 17:33] JonasNilson commented on #10
I have no issue using the login window in 1.3. Hopefully it solved itself.

I doubt Idle Master has a logging feature, but if you are able to debug that could definitely help finding the cause of the issue.

[2019-09-03 17:34] JonasNilson commented on #11
Could you provide more information on the issue? How many games do you have that are eligible for card drops?

[2019-09-03 17:36] JonasNilson commented on #12
Is this still an issue? If you don't have games that are eligible for card drops they won't appear in Idle Master.

[2019-09-03 17:37] JonasNilson commented on #13
I'm glad it solved itself.

I just gave it a try and the login seems to have changed somewhat, but works at the moment.

[2019-09-03 17:37] #13 closed

[2019-09-04 16:12] HoldOffHunger commented on #14
Would be super cool if someone knew something about the build process and could help out here.  I have some ideas for features to implement. =)

[2019-09-10 19:40] JonasNilson commented on #14
I currently have no way of reproducing the issues, but:

1. That's definitely an incorrect path. I guess I never pushed the change I made locally.
2. I believe the original project had x86 specified, and I didn't bother trying the 64bit version of Steamworks.

You could try building it with a target platform as x86 and see if that helps.

[2019-09-13 19:03] #10 closed

[2019-09-24 00:32] matrixino opened #16 "Not working with latest beta client"
With the latest beta client (the new UI) steam is never recognized as running, so no idling starts.
Even ticking the "ignore steam client running" option has no effect (idling starts but no cards are collected, no in-game change on friend list).
The client is obsiously open but not detected anymore.

[2019-09-24 04:36] JonasNilson commented on #16
Interesting. I'll see if I can take a look at the issue later this week :+1:

[2019-09-25 01:27] broman opened #17 "Can't log in to Steam"
I sign in to Steam and it tells me "Idle Master is Saving your Information..." and never connects to Steam.

[2019-10-01 21:53] int22 opened #18 "Automatic login feature?"
There's a web server running in the Steam client that lets you utilize it to login much faster in web browser. With this added, you can login without having to provide an auth code.

`LoginUsingSteamClient(window.location.origin);`

[2019-10-10 13:50] burgerlX opened #19 "Idle free games?"
Can this program be extended to idle free games? Would anything like this even work?

[2019-10-13 11:42] JonasNilson commented on #19
You can use the executable delivered with Idle Master, called "steam-idle.exe".

For example:

- Find the ID of the game you want to idle (for example: https://store.steampowered.com/app/252950 has the ID 252950)
-- Alternatively use https://steamdb.info/ to search for the game you want to idle
- Find the installation location of Idle Master Extended (for example: `C:\Users\<you>\Downloads\idle_ma

[2019-10-13 11:43] JonasNilson commented on #18
Interesting. I'd appreciate a pull request with the feature, if you are able to test it 🐱‍💻

[2019-10-13 11:46] JonasNilson commented on #17
I'm sorry for the late reply, is this still an issue?

I was able to log in just now:
![image](https://user-images.githubusercontent.com/5990550/66715126-e3544d00-edbf-11e9-9ada-9bf35335b1ba.png)

[2019-10-14 09:35] int22 commented on #18
Alright, I've made a pull request with it
#20

[2019-10-18 22:43] mls41 commented on #11
I have the same problem, idle master never works for me. When I run it, I see only ‘idle complete’ and nothing more. I have so many cards to drop.

[2019-10-23 14:24] rawtorp opened #21 "Do you have to pay to get card drops?"
Hi, love your program! But i have a question, Do you have to pay for games to get card drops in them? ive read some articles and some say you have to pay 10$ in a game to be able to get card drops from them. Is this true?

[2019-10-24 14:02] JonasNilson commented on #21
That is only true for free to play games. If you look under your badges page on Steam you should see all cards that you are eligible for 🤷🏻‍♂️

[2019-10-26 15:37] #21 closed

[2019-10-26 15:37] #19 closed

[2019-10-26 15:37] #18 closed

[2019-10-26 15:38] #17 closed

[2019-10-26 15:38] #14 closed

[2019-10-26 15:38] #12 closed

[2019-10-26 15:39] #11 closed

[2019-10-27 14:56] ngsoftDE opened #22 "[Inquiry] Version for Ubuntu Server?"
Please develop a Version compatible with **Ubuntu Server**. Then its much easier for some users who owns a simple linux server [link to Ubuntu Sever page](https://ubuntu.com/download/server)

[SteamCMD](https://developer.valvesoftware.com/wiki/SteamCMD)

[2019-10-27 14:59] ngsoftDE commented on #22
This will save electric power in most cases...

[2019-10-28 20:30] JonasNilson commented on #22
Have you tried the Python version of idle master? https://github.com/jshackles/idle_master_py

[2019-11-09 01:01] ngsoftDE commented on #22
Thanks! Helped a lot!

[2019-11-09 07:18] #22 closed

[2019-11-10 13:21] Trucidar opened #23 "Fast Mode"
I noticed my fast mode is idling 30 games at a time, but when it goes to run individually, instead of running those 30, it looks like it runs my entire library of games with card drops (1800). Is there anyway to avoid this?

[2019-11-11 10:13] JonasNilson commented on #23
@Trucidar I'll have to take a look at the code, but I have a feeling that the individual idling is based on the full list of games 🤔

[2019-12-02 14:57] Mogekoff opened #24 "Everlasting "process""
![image](https://user-images.githubusercontent.com/26386607/69969119-9bd77b00-153d-11ea-89be-b72cbdba70b9.png)

[2019-12-02 16:50] JonasNilson commented on #24
Do you have more info on what's happening?

[2019-12-21 08:24] SkebbZ commented on #24
Stopped working a while ago for me, just says "X games to idle, 0 games idling now. Currently ingame: Game Name"

Yes, it actually says Game Name.

[2019-12-23 12:26] JonasNilson commented on #24
@SkebbZ Is this still an issue?

[2019-12-23 12:55] JonasNilson commented on #23
@Trucidar I'm sorry for not updating. I found a place in the code that has potential for an update to follow the suggestion you have, but atm I have no way to test it properly.

I'll keep this issue open until I do.

[2019-12-23 12:56] JonasNilson commented on #16
@matrixino I'm sorry for the late reply. I haven't had much time on this project due to several reasons.

Do you know if this still is an issue?

[2019-12-23 13:08] matrixino commented on #16
Sorry, I didn't use it lately. I'm on vacation till the 6th Jan. I can check when I'm back.

[2019-12-23 20:57] SkebbZ commented on #24
@JonasNilson
![Merknad 2019-12-23 215333](https://user-images.githubusercontent.com/12503022/71380260-ca8dc200-25ce-11ea-8748-8174e6e9dedb.png)

Also, I've selected English but only **parts** of the Settings (and drop down menus up top) are actually English.

Is there some file outside the main folder where settings are kept? Would like to try deleting that if that's the case.

[2019-12-24 12:23] JonasNilson commented on #24
@SkebbZ I guess you have restarted the client? I believe the selected language should fully work after a restart.

I would have to look into the language part if that's not the case (I'm not the original developer)

[2019-12-24 21:20] SkebbZ commented on #24
Yes, I've tried restarting/switching back and forth multiple times. Looks like I'm stuck with this mish mash of system language and English. Then again it's mostly an annoyance.

It still doesn't actually work though. Nothing starts idling.

[2019-12-25 17:06] JonasNilson commented on #24
@SkebbZ Sounds like an annoying bug. Have you tried running a freshly downloaded version and see if it works?

[2019-12-25 17:48] SkebbZ commented on #24
I have tried that, yes. Thats why I asked about any config files.

I just found a couple lying around the C: drive and deleted them, that fixed the language issue. The main issue about not idling anything still remains.

[2019-12-28 11:30] defenderix commented on #16
hello guys.
this is happening for me too
https://steamuserimages-a.akamaihd.net/ugc/792003508800492211/18C2B6DFC1CA26413266E4D4783BAC37A237AAD6/
it was working well but i just restarted it then that happened.
how can i solve it?

[2019-12-28 11:32] defenderix commented on #24
i have this problem too .
https://steamuserimages-a.akamaihd.net/ugc/792003508800492211/18C2B6DFC1CA26413266E4D4783BAC37A237AAD6/
how can i solve it?

[2019-12-28 11:48] JonasNilson commented on #24
* I am not able to reproduce it at the moment:
![image](https://user-images.githubusercontent.com/5990550/71543131-04b0e800-2970-11ea-86ff-f7748eaf897d.png)

Can you look under: `C:\Users\<Your username>\AppData\Local\IdleMaster` and see if deleting the configuration files help?

[2019-12-28 16:31] BloodyGoat commented on #24
Ja zrobiłem wszystko co podpowiadacie dalej nic

[2019-12-28 16:41] BloodyGoat opened #25 "Włącza się ale nie farmi (PL)"
![help](https://user-images.githubusercontent.com/59315705/71546646-85380e80-2999-11ea-8156-58d21017547a.PNG)

Czyściłem w appdata kombinowałem i nic dalej

[2019-12-29 00:09] SkebbZ commented on #24
@JonasNilson
These are the files I mentioned earlier which solved my language issue. Sadly it still won't idle any games.

[2020-01-01 17:22] rodier commented on #16
Just start this program as admin by right clicking on exe and run as admin..

[2020-01-05 17:42] Trucidar commented on #23
All good. I appreciate you looking into it. I imagine it's only useful to people who are running the tool for the first while and have more than 30 available games in their inventory.

[2020-01-08 02:57] RaisingAgent opened #26 "this works way too well, thank you."
closed. :)

[2020-01-08 02:57] #26 closed

[2020-01-22 06:02] paulomanrique opened #27 "Can't login"
After I put my password, the screen for putting the code doesn't appear and it backs to the main window.

[2020-01-23 01:28] Cass18 commented on #27
Same here! If you are able to fix it, pls tell me. TY!

[2020-01-23 09:27] JonasNilson commented on #27
I did a quick debugging session and it looks like Steam has changed the way the login redirects / opens the Authentication code window. I'm not sure how to handle it at the moment.'

This is where the code fails to handle the new way Steam logins:
* https://github.com/JonasNilson/idle_master_extended/blob/develop/Source/IdleMaster/frmBrowser.cs#L75
* https://github.com/JonasNilson/idle_master_exte

[2020-01-23 09:28] JonasNilson commented on #25
Is this still an issue?

[2020-01-23 09:28] JonasNilson commented on #24
Have you managed to get past this issue?

[2020-01-23 09:35] BloodyGoat commented on #25
zrobiłem wszystko co jest opisywaliście w innych tematach i myślę że nie działa to dla tego że już nie mogę więcej farmić
![Przechwytywanie](https://user-images.githubusercontent.com/59315705/72972617-11d4c180-3dcc-11ea-8fb2-022b63a10bcd.PNG)

[2020-01-23 09:58] JonasNilson commented on #23
I've made a change that should help with your issue:
* https://github.com/JonasNilson/idle_master_extended/commit/86533705fc82404e814664f253605658bcb3a77e

I would appreciate if you could test it out through Visual Studio

[2020-01-23 10:00] JonasNilson commented on #16
As I am running with the latest beta client it seems like this is no longer an issue.

[2020-01-23 10:04] JonasNilson commented on #25
What version of Idle Master Extended are you running?

Are you getting an error log in the install directory?

[2020-01-23 10:06] BloodyGoat commented on #25
idle_master_extended_v1.3
Dziennik się nie pokazuje może dla tego że jak na nowo pobrałem to się nie da już zalogować

[2020-01-23 10:13] JonasNilson commented on #25
You could try posting your issue on the forum: https://steamcommunity.com/groups/idlemastery/discussions

[2020-01-23 10:16] BloodyGoat commented on #25
Dziękuje już tam byłem będe dalej śledził dziękuje

[2020-01-23 10:16] #25 closed

[2020-01-23 19:36] SkebbZ commented on #24
Sadly not :)

[2020-01-23 19:49] JonasNilson commented on #24
@SkebbZ

Could you try running Idle Master through Visual Studio and see if you can get an error message?

[2020-01-24 14:24] ArcticFoxen commented on #27
how can i use these methots, i dont know anything about programming etc. i am just reguler user this program was the perfect one in the market for me and I would like to run it again

[2020-01-24 15:06] JonasNilson commented on #27
@ArcticFoxen

You can use this method: https://superuser.com/a/1114501

Or get a cookie inspection extension for your web browser:
- https://chrome.google.com/webstore/detail/editthiscookie/fngmhnnpilhplaeedifhccceomclgfbg?hl=en

[2020-01-24 15:11] ArcticFoxen commented on #27
even if i get cookie, how can i paste on the idle master, like i said I don't know anything :=)

[2020-01-24 15:19] JonasNilson commented on #27
@ArcticFoxen

I'm sorry. Basically you paste it in under Idle Master Settings > (press the lock symbol) > enter the two top cookies

Never post your cookies anywhere

[2020-01-24 15:24] ArcticFoxen commented on #27
I understand very well what you mean right now, I'm at the last stage, I installed the chrome plugin, which one should I paste from here in to the idle master login window

screen from the chrome plugin
![image](https://user-images.githubusercontent.com/54692308/73080345-bba07500-3ed6-11ea-94d4-88e1dc3646c0.png)

[2020-01-24 15:26] JonasNilson commented on #27
@ArcticFoxen

sessionid

and

steamLoginSecure

[2020-01-24 15:31] ArcticFoxen commented on #27
@JonasNilson thank you to everyone who has worked here, idle master working again now

[2020-01-24 19:38] wolfdizz commented on #27
@JonasNilson thanks dude a lot <3

[2020-01-24 22:28] javelin5150 commented on #27
that doesn't work for me.

[2020-01-24 22:49] SkebbZ commented on #24
Tried it, but now I can no longer login as per issue #27

[code]

Triggers when I hit login

[2020-01-25 00:22] ArcticFoxen commented on #27
its says the data isn't valid yes but still working for me i dont know

[2020-01-25 00:52] Fusl commented on #27
Using steamLoginSecure worked once, but after restarting IME, this no longer works and it just keeps telling me that the info isn't valid.

[2020-01-25 10:58] javelin5150 commented on #27
We just have to wait for the dev to release a new build.

[2020-01-25 20:17] JonasNilson commented on #27
@paulomanrique @Cass18 @ArcticFoxen @wolfdizz

I have updated the login to go through the Steam JavaScript API that connects to the running Steam client, which avoid having you to enter credentials.

Can you check out the latest release and give it a test? https://github.com/JonasNilson/idle_master_extended/releases/tag/v1.4

[2020-01-25 20:18] JonasNilson commented on #24
I was not able to reproduce this issue.

Can you try using the newest release: https://github.com/JonasNilson/idle_master_extended/releases/tag/v1.4 to see if you can get past the login step?

[2020-01-25 20:19] JonasNilson commented on #23
It should work now: https://github.com/JonasNilson/idle_master_extended/releases/tag/v1.4

[2020-01-25 20:19] #23 closed

[2020-01-25 20:19] #16 closed

[2020-01-26 00:28] javelin5150 commented on #27
Thanks for the quick fix. It worked fine for me (it didn't request for my username/password, it checked if I was logged in on my steam). However, I can't idle any of my games. How can I fix that?

[2020-01-26 07:50] JonasNilson commented on #27
@javelin5150

Do you get any indication on idle master reading your badge page?

[2020-01-26 13:50] javelin5150 commented on #27
Wanted to screenshot idlemaster, but I can't login for some reason. I'll try again later.

[2020-01-26 14:22] SkebbZ commented on #24
Tried the new release. Hit sign in, login window popped up and closed. Nothing happened.
Hit sign in again. Login window popped up again, redirected to my steam profile and closed.
Now everything seems to work :)
Games are idling again as well.

[2020-01-26 16:27] JonasNilson commented on #27
Is logging in still an issue?

Also, make sure you have games that can give card drops by looking at your badge page: https://steamcommunity.com/id/<your-steam-id>/badges/

[2020-01-26 18:23] blazeb commented on #27
I don't know if anyone else is having this issue, but every time I try to sign-in the window automatically closes in about 5 seconds.

[2020-01-26 19:00] JonasNilson commented on #24
@SkebbZ

Thanks for the feedback. I will check out the issue of the login window closing too soon.

[2020-01-26 19:02] JonasNilson commented on #27
@blazeb

Do you have quick login active in your settings?

[2020-01-26 19:32] blazeb commented on #27
yes it was active and I just unchecked it and that seemed to work
Thank you! : )

[2020-01-27 23:18] hydroculator commented on #27
I am having the disappearing login screen issue as well.
I've looked for a "quick login" check, I found "allow web pages to auto login". If that's the right one, toggling back and forth didn't make a difference either way.
It also never seems to know if Steam is running, either. "Ignore client status" doesn't affect the login issue, either.
I've looked in the log file, and all it has is a list of

[2020-01-28 23:05] blazeb commented on #27
@hydroculator it should be in file>settings>and near the top-right corner say quick login

[2020-01-29 01:55] pr0d1gx commented on #27
no me figura opcion de inicio de sesion rapido
 y tampoco me deja iniciar sesion, la pantalla de inicio no carga mas

[2020-01-29 16:28] veke12 opened #28 "Can't use Geometry Dash as a game"
I have bought geometry dash in steam and played like 145hours and it has trading cards. But it thinks that it doesn't have them or something. (it only uses Payday 2 not my other games.

[2020-01-29 16:39] veke12 commented on #27
Removing quick login worked for me. ( u have to manually put ur password and user name in the thing)

[2020-01-29 18:22] veke12 commented on #28
I have bought geometry dash in steam and played like 145hours and it has trading cards. But it thinks that it doesn't have them or something

[2020-01-29 18:53] #28 closed

[2020-01-29 20:55] hydroculator commented on #27
@blazeb

Thank you, this worked!

[2020-01-30 14:51] javelin5150 commented on #27
I am no longer facing login issues, however, I can't idle any games. It just says "idling complete".

[2020-02-02 16:36] JonasNilson commented on #24
If you are able to try the latest release, 1.4-final, it should have fixed the closing window issue

[2020-02-02 16:37] JonasNilson commented on #27
@javelin5150

Is this still an issue?

@hydroculator @veke12 @blazeb

Can you try out the latest release, 1.4-final? I addressed an issue related to the closing window

[2020-02-02 17:28] SkebbZ commented on #24
Seems fine now :)

[2020-02-04 14:15] Entharia opened #31 "Nothing happens after autmatic login?"
i rly dont know why its like that, the other day it worked fine now it looks like this and seems like it does nothing?
![Unbenannt](https://user-images.githubusercontent.com/59421695/73752392-34b68c80-4761-11ea-942d-b047a435a5dd.PNG)

[2020-02-04 14:59] JonasNilson commented on #31
@Entharia I'll give it a go later tonight to see if I can reproduce it.

[2020-02-05 19:47] javelin5150 commented on #27
Couldn't idle games.

[2020-02-05 19:49] JonasNilson commented on #31
@Entharia

Are you still experiencing this?

It seems to work fine on my end.

![image](https://user-images.githubusercontent.com/5990550/73877468-fdc3a200-4858-11ea-91fd-ee46cdd4d399.png)

[2020-02-05 19:58] JonasNilson commented on #27
@javelin5150

How many games do you still have card drops available for?

Check under http://steamcommunity.com/my/badges

[2020-02-06 01:49] Trucidar commented on #23
Thanks for adding this! I tried it out. It's a definite improvement. It's behaviour seems a bit different, it used to idle 30 simultaneously for 15mins, then the entire collection for 5 seconds each... Now it seems to be idling around 30 games for 6mins, then 30 games for 5mins each.

I'm happy regardless.

[2020-02-06 13:32] JonasNilson commented on #23
@Trucidar
No worries. I couldn't find a good way of testing it properly, but if you run into issues you can answer here or open a new issue

[2020-02-07 01:47] DrWhoCares opened #32 "Shutdown after complete turns off entire computer?"
Am I right in understanding this feature? Because my entire computer just shutdown after giving me a warning saying it was going to shut down in less than a minute, coinciding with the time that Idle Master was completing.
I've never seen a message like this, nor was it anything related to Windows Update or any scheduled task.

Why would it shut down my entire computer? Why would I ever want that?

[2020-02-07 06:34] JonasNilson commented on #32
It's supposed to shut down your computer when idling is done.

It was requested and added in #8

[2020-02-07 10:22] Trucidar commented on #23
Thanks again. I tried 1.4. It's behaving oddly. Not sure how to explain it. It used to idle 30 simultaneously for 5 mins, then the whole library for 5s at a time, then 30 simultaneously for 15 mins, then whole collection for 5 seconds each... repeating.

Now it doesn't act predictably at all. Sometimes It idles 31 games for 5minutes.. sometimes 15 minutes. Sometimes it just goes straight to idling

[2020-02-08 17:00] javelin5150 commented on #27
3

[2020-02-09 15:53] DrWhoCares commented on #32
It should be made clear what it does then.
A warning pop-up after clicking it, asking to confirm that you want to shutdown your entire computer when it's done, or at the very least, change the label to "shutdown computer" instead of just "shutdown".

[2020-02-13 09:25] axelnieves2012 opened #33 "SteamGuard compatibility"
My account has email and Mobile Steam Guard.
When I try to login in, application neverask me for my Steam Guard code.
Disabling it is NOT an option because my market will be disabled for 15 day if so.

Thanks.

[2020-02-16 16:21] JonasNilson commented on #33
What version are you using?

The Steam Guard window should pop up when you try to log in manually.

![image](https://user-images.githubusercontent.com/5990550/74608378-c5398900-50e0-11ea-8e20-522dd42a82d9.png)

[2020-02-17 15:38] #24 closed

[2020-02-17 15:43] #27 closed

[2020-02-17 15:43] JonasNilson commented on #31
Is this still an issue?

[2020-02-17 15:45] JonasNilson commented on #32
I completely agree. I will address this in an upcoming release.

[2020-02-19 06:21] axelnieves2012 commented on #33
I don't know. I don't understand github. It would be easy a Mega or Mediafire link. How do I get the latest version?? That steamguard window was never shown to me :(

[2020-02-19 06:25] JonasNilson commented on #33
@axelnieves2012

https://github.com/JonasNilson/idle_master_extended/releases

There's a direct download link available for the latest release

[2020-02-19 06:30] axelnieves2012 commented on #33
Hello, I was using version 1.4 final, but I've never seen authenticator popup :'(

[2020-02-19 06:35] JonasNilson commented on #33
@axelnieves2012

Can you provide a screenshot of the idle master window?

[2020-02-19 10:56] Trucidar commented on #23
To add an update, looks like error was just in the settings menu. I switched off fast mode and back on and it seems to be working better than ever. Thanks again!

[2020-02-19 12:37] JonasNilson commented on #23
@Trucidar

Interesting.. 😁 thanks for the feedback

[2020-02-20 22:54] Cabola opened #34 "Can't signin due to family view"
I get the login screen, then get the steamguard screen and after that, because I use family view, I need to enter my code for to that too, but the window just closes before you get a chance to enter the code.
All the above is with quick login checked.

However without quick login checked it doesn't do anything after submitting the family view pin, except closing down the window after a short while

[2020-02-21 13:01] Cabola commented on #34
just wanted to add that I did manage to enter my pin for the family view by having it copied to just paste it into the input field and then hit return but 2 sec after the window was closed down.

[2020-02-21 14:40] Entharia commented on #31
Sorry for the late reply.
Yes, I still have that issue.
I deleted the folder and redownloaded it just now, it didn't help.
But I just found something in the error.log
`21.02.2020 15:34:24   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/"MyNumber"
System.NullReferenceException: Object reference not set to an instance of an object.
   at IdleMaster.frmMain.ProcessBadges

[2020-02-21 21:19] Cabola commented on #34
I've managed to get logged in by using the feature in settings and pasting in the sessionID, the steamLoginSecure and the steamparental from the steam page in my browser! It did give an error, which I didn't pay attention to, since Idle Master started gathering info and load up in remaining card drops/games...

[2020-02-21 21:23] JonasNilson commented on #34
@Cabola

I'm glad you figured out a way 🤘🏻I didn't think of that myself.

[2020-02-29 14:23] CensorOfIthil opened #35 "Fast Mode won't stop even after quitting the program using the "Quit" button and restarting Steam."
I noticed my games were rapidly played even after quitting the program and restarting Steam. Restarting the computer did fix the problem.

[2020-02-29 19:03] CristenPerret opened #36 "Add different gameids to list?"
I really am not that interested in cards, although thats what this is purposed for.
Got it running fine and smooth.
Theres a blacklist, but not a 'whitelist', or a way to append more to the list.
Having trouble finding where the list of games are stored.
How could I add in other games that aren't included? (Dota/CS:GO/Warframe/PathofExile)

[2020-03-01 12:33] CensorOfIthil commented on #35
Nevermind, I just didn't wait until it stopped switching games.

[2020-03-01 12:33] #35 closed

[2020-03-06 19:39] ThotRadio opened #37 "Wont login to account"
When I click the sign in button, it opens a page and directs me to steam login, but then it redirects again to my profile and wont let me sign in

[2020-03-06 19:40] #37 closed

[2020-03-07 16:32] JonasNilson commented on #36
There is currently no in-application support in Idle Master to do that, but you can use the steam-idle.exe bundled with Idle Master.

* You need the game application ID, which can be found by looking at the [Steam Store](https://store.steampowered.com/) page URL, or by searching [SteamDB](https://steamdb.info/):
![image](https://user-images.githubusercontent.com/5990550/76147139-7193dd00-6099-11ea

[2020-03-20 07:36] Fraixv opened #38 "idiling error (idel master 1.4 final)."
Hi there, I have been testing this application for about 2 hours and it worked correctly, but now I do not know what is happening that does not recognize any game, it only tells me idiling, if you know how to solve it I will be very grateful.

If my English is strange it is because it is not my language and I am using the translator to communicate with you.

PS: thanks for sharing this great appli

[2020-03-20 19:05] ChillSheep opened #39 "Cannot sign in"
When I open the exe after trying to sign in it will open a window saying Javascript must be enabled to use this site, from steam

[2020-03-22 11:23] JonasNilson commented on #33
@axelnieves2012

Is this still an issue? If so, please provide a screenshot showing the issue

[2020-03-22 20:38] axelnieves2012 commented on #33
![Screenshot_5](https://user-images.githubusercontent.com/35415189/77259982-b2781e00-6c63-11ea-84f6-b24131e1d27c.png)
Hello, Am sorry, I completelly forgot about it. I still have this issue.
Screenshot uploaded. After entering my login details, SteamGuard popup never is show

[2020-03-23 14:28] JonasNilson commented on #33
@axelnieves2012

Can you try disabling the QuickLogin property under File > Settings?

[2020-03-23 14:30] JonasNilson commented on #38
@Fraixv

I tried looking into this yesterday but I didn't manage to reproduce the issue.

How many games do you have card drops available for?

[2020-03-23 14:31] JonasNilson commented on #39
@ChillSheep

Can you provide a screenshot of the error?

[2020-03-23 14:33] JonasNilson commented on #31
@Entharia

I haven't found the cause of this yet.

How many games have you got available for card drops?

[2020-03-23 20:05] plopingo commented on #38
I have the same issue but I think it's with games I got for free. I think collecting is disable for them.
I got this message on the last one I added "GOAT OF DUTY" "No card drops remaining"
I don't remember it was like that in the past tho....

[2020-03-23 20:26] JonasNilson commented on #38
@plopingo

As free games don't have card drops they won't get considered "idleable" by Idle Master

You can however use the steam-idle application bundled with Idle Master: https://github.com/JonasNilson/idle_master_extended/issues/36#issuecomment-596105776

[2020-03-23 20:35] plopingo commented on #38
Goat for duty is a paid game. it was given for free for a limited amount of time.

[2020-03-23 20:39] JonasNilson commented on #38
@plopingo

My bad. I didn't look into it before replying.

So you have card drops available, but it isn't recognized by Idle Master?

[2020-03-23 20:42] plopingo commented on #38
"No card drops remaining" for that game" it's why idle master don't reconize it but I don't know why this "No card drops remaining"

[2020-03-23 21:01] JonasNilson commented on #38
@plopingo

Goat of Duty doesn't have card drops as far as I can tell: https://store.steampowered.com/app/555000/GOAT_OF_DUTY/

[2020-03-23 21:07] plopingo commented on #38
![image](https://user-images.githubusercontent.com/2069957/77363220-9ef7b080-6d52-11ea-8e2f-6109c630b4dd.png)

wtf xD

[2020-03-23 21:10] plopingo commented on #38
same issue with https://store.steampowered.com/app/203160/Tomb_Raider/ free rn too
card drops in description for this one

[2020-03-23 23:28] TheMuscialGamer opened #40 "Just says idling complete"
I just downloaded it and did all the steps and all it says is idling complete

[2020-03-25 00:34] axelnieves2012 commented on #33
Done, brother. Still not working. I got back to this screen
![Screenshot_1](https://user-images.githubusercontent.com/35415189/77489555-345c7880-6e17-11ea-9c44-47e864701524.png)

[2020-03-25 00:40] axelnieves2012 commented on #33
After several testing, I noticed that it doesn't even check if password is correct or not. It keeps returning the same, no matter if wrong password, inexistent account, etc.

[2020-03-25 20:09] JonasNilson commented on #38
Please look under your own profile. I believe that if you receive the game for free you're not eligible for card drops:
![image](https://user-images.githubusercontent.com/5990550/77580818-ed38bb00-6edc-11ea-8085-acc196a6c32e.png)

[2020-03-25 20:10] JonasNilson commented on #40
And how many games do you have card drops available for? Look under your Badges page.

[2020-03-25 20:18] JonasNilson commented on #33
That's odd... I am not able to reproduce the issue:

![image](https://user-images.githubusercontent.com/5990550/77581342-d5ae0200-6edd-11ea-9598-0d1e55f7dc25.png) ![image](https://user-images.githubusercontent.com/5990550/77581516-21f94200-6ede-11ea-8968-c3d12627cdec.png)

[2020-03-26 02:55] axelnieves2012 commented on #33
The only idea I have is TeamViewer. I would let you in my PC, so you can see it by yourself.
If you interested, add me to steam as a friend, if you see me online you can PM me and I will let you in. Thanks

[2020-03-27 16:40] ClebDoesStuff opened #41 "Not connecting to Steam"
Even though I click sign in and it shows that it logged into my account, it still says Idle Master is not connected to Steam

[2020-03-27 16:48] #41 closed

[2020-03-28 03:42] DouglasGiovanella commented on #33
@JonasNilson Maybe It is his Internet Explorer version?

[2020-03-28 10:38] DumbJoe commented on #31
28/03/2020 6:36:09 PM
Microsoft.CSharp.RuntimeBinder.RuntimeBinderException: Member 'System.DBNull.Value' cannot be accessed with an instance reference; qualify it with a type name instead
   at CallSite.Target(Closure , CallSite , Object , String )
   at System.Dynamic.UpdateDelegates.UpdateAndExecute2[T0,T1,TRet](CallSite site, T0 arg0, T1 arg1)
   at CallSite.Target(Closure , CallSite , Object

[2020-03-28 10:42] DumbJoe commented on #27
The 1.4 final version here: https://github.com/JonasNilson/idle_master_extended/releases/tag/v1.4-final doesn't show the window to enter in your steam guard code....

[2020-03-29 03:15] axelnieves2012 commented on #33
Interesting. I'll try

[2020-03-29 15:01] tduarte21 commented on #31
I'm also having the same problem!

[2020-03-29 19:01] axelnieves2012 commented on #33
SOLVED. Hello, I updated to IE11 and  problem was solved. Thanks, that was the definitive solution.

[2020-03-29 19:39] JonasNilson commented on #33
@axelnieves2012

Awesome. I'll add this as a potential issue :sparkles:

[2020-03-29 19:41] #33 closed

[2020-03-29 23:42] cybersteel8 opened #42 "[Feature Request] Whitelist mode + custom idle time"
I don't know if Idle Master is the right app to do this, but I want to idle in a game for a certain amount of time without having it physically running. I have over a thousand games so it's impractical to blacklist all of them except one, plus I expect that I won't be able to idle in a game after all my card drops are obtained as well.

This could be resolved with a whitelist mode, and a field to

[2020-03-30 05:11] JonasNilson commented on #42
@cybersteel8

It's a feasible idea. I won't be able to implement it any time soon though.

For now you can try using steam-idle bundled with Idle Master: https://github.com/JonasNilson/idle_master_extended/issues/36#issuecomment-596105776

[2020-03-30 11:47] pngacc commented on #40
I have same problem. Badges page doesnt show all games. I did grab free games for a limited time like Nephise Begins, Mobile Astro EX Pack, HELLION, Barro and more. (Still free btw.) These games has a steam cards. I never played this games and idle still says iddling complete. @JonasNilson

[2020-03-30 12:06] JonasNilson commented on #40
@pngacc

If the game is not in your badge page Idle Master won't idle it automatically.

Also free games don't make your eligeable for card drops: https://github.com/JonasNilson/idle_master_extended/issues/38#issuecomment-604059701

[2020-03-30 19:05] ch3cky opened #43 "Cannot log in"
I simply cannot login into my steam account, it opens the window and after auto-login nothing happens.

[2020-03-30 19:22] JonasNilson commented on #43
@ch3cky: Can you provide a screenshot of the issue?

You can likely bypass the issue by using this method:
* https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720

But also look here:
* https://github.com/JonasNilson/idle_master_extended#troubleshooting-and-common-solutions

[2020-03-31 09:56] ch3cky commented on #43
There is nothing to screenshot tbh, but the cookie editor method fixed it.

[2020-03-31 10:20] JonasNilson commented on #43
@ch3cky

You said "after auto-login nothing happens", so I was wondering if the browser window was still open or if Idle Master didn't manage to get the badge page.

[2020-03-31 13:03] ch3cky commented on #43
the login window appears, it will QuickLogin to my account, then close the window, but IM won´t actually connect with my account.

[2020-03-31 18:42] JonasNilson commented on #43
@ch3cky

Do you get any output in the `error.log`?

[2020-03-31 19:08] jurcimat commented on #43
I have same problem as @ch3cky. The output of error.log is this:

System.NullReferenceException: Object reference not set to an instance of an object.
   at IdleMaster.frmBrowser.tmrCheck_Tick(Object sender, EventArgs e)
   at System.Windows.Forms.Timer.OnTick(EventArgs e)
   at System.Windows.Forms.Timer.TimerNativeWindow.WndProc(Message& m)
   at System.Windows.Forms.NativeWindow.Callback(IntPtr

[2020-03-31 19:18] JonasNilson commented on #43
@jurcimat

Interesting. I wish the error could show the line of code that contained null..

[2020-04-01 03:21] lancelotnick commented on #43
i hv the same situation it just pop out 'idle master is saving your information and nothing happen.

[2020-04-01 10:15] CrafterKolyan commented on #38
Games that were received for free on Steam (just by clicking add to Account button and not by Steam Key activating) do not have any card drops. This is not the issue of Idle Master, that's Steam Game Cards policy.

[2020-04-08 12:54] Tufan-19 opened #44 "Idling Complete."
![{9F621CA3-102A-4CAC-BE3B-97E9DE6A0438} png](https://user-images.githubusercontent.com/63352599/78786177-31a46c00-795d-11ea-81e2-750246553dd9.jpg)

When i Open Idle Master it says Idling Complete and I have Cards.

[2020-04-08 19:57] JonasNilson commented on #44
How many games do you have with available card drops? Please check under your badge page (https://steamcommunity.com/id/<steamid>/badges/)

[2020-04-08 19:59] #40 closed

[2020-04-08 20:00] #36 closed

[2020-04-08 20:00] #38 closed

[2020-04-08 20:00] #39 closed

[2020-04-08 20:13] JUN10R62 opened #45 "Steam is not running"
It is running but the system says it isnt

[2020-04-09 06:07] JonasNilson commented on #45
@JUN10R62

Can you provide a screenshot of the issue?

[2020-04-09 12:02] Tufan-19 commented on #44
![Capturekos](https://user-images.githubusercontent.com/63352599/78892977-36c9ef80-7a1f-11ea-98b0-3e376ac25fa0.PNG)

These are the games.

[2020-04-09 12:02] Tufan-19 commented on #44
Blood and Bacon And Garrysmod isn't free.

[2020-04-09 13:12] JUN10R62 commented on #45
![image](https://user-images.githubusercontent.com/63371915/78898711-8981c680-7a74-11ea-803b-d71563676527.png)

[2020-04-09 18:51] JonasNilson commented on #45
@JUN10R62

What version are you using? The latest version is available here: https://github.com/JonasNilson/idle_master_extended/releases/latest

* I am not able to reproduce the issue at the moment.
![image](https://user-images.githubusercontent.com/5990550/78929787-47bc4480-7aa3-11ea-97e1-93fc94396378.png)

* One quick-fix is to go to `File > Settings > Ignore Steam client status`
![image](https

[2020-04-09 20:32] Tufan-19 commented on #45
@JonasNilson u didn't reply on my issue

[2020-04-09 20:41] JonasNilson commented on #44
I'm not sure why you don't have card drops available, but that is not something Idle Master can help with

[2020-04-10 00:54] Tufan-19 commented on #44
@JonasNilson They are available it just says that.

[2020-04-10 01:00] Tufan-19 commented on #44
there might be something wrong with the idle master.

[2020-04-10 11:08] JonasNilson commented on #44
@Tufan-19

Based on your screenshot there are no cards available and you already have hours played in those games. Maybe you've already received them?

[2020-04-10 19:48] Tufan-19 commented on #44
@JonasNilson i just bought these games recently like a month or so. And i haven't received not one card drop.

[2020-04-10 21:16] JonasNilson commented on #44
@Tufan-19

I would recommend contacting Steam support to get a better grasp of the issue.

[2020-04-10 22:04] Tufan-19 commented on #44
@JonasNilson i contacted them they said to me that u didn't earn a card drop because you haven't even earned them yet so there isn't a problem in my account they said.

[2020-04-15 05:24] aerCreativity opened #46 "Steam Login Loop"
[Disclaimer] I have been unable to replicate this issue.

A friend has had a random issue where the account would finish the quick-login or normal Steam login, and then return back to the Steam login page.
(It's also not particularly urgent, as this issue has only occurred on one computer and has resolved itself magically after a fresh reboot. Strange.)

This issue is similar to the other ["cannot

[2020-04-17 03:39] julian28300 commented on #31
I also have this problem where the quick login does nothing

[2020-04-17 14:54] Laustre opened #48 "idlemaster is not giving any cards help me"
its not giving any cards i have 3 card drops it didnt give any i tried 3 games yestreday with 9 card it didnt work either

[2020-04-21 17:10] JonasNilson commented on #43
@ch3cky @jurcimat @lancelotnick Are you still experiencing this issue of not being able to log in?

You could try and use this method by extracting existing Steam cookies: https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720

[2020-04-21 17:11] #44 closed

[2020-04-21 17:17] JonasNilson commented on #46
Thanks for the error log.

Definitely looks like an issue while accessing the HTML elements, based on:
[code]

I'll add a bug label to this issue.

[2020-04-21 17:19] JonasNilson commented on #48
What games do you have card drops available for?

Can you provide a screenshot showing the issue?

[2020-04-21 17:27] Laustre commented on #48
I had 3 hentai games and zup x but i refunded them because they were not
giving any card they had 12 card drops or 13

On Tue, 21 Apr 2020, 20:19 Jonas Nilson, <notifications@github.com> wrote:

[2020-04-23 05:12] lancelotnick commented on #43
I can use it now after using the methods,thx a lot

「Jonas Nilson <notifications@github.com>」在 2020年4月22日 週三，01:10 寫道：

[2020-04-23 19:45] julian28300 opened #50 "steam quick log in loop"
when I try to sign into steam it quick logs me in and brings me back to it saying sign in again

[2020-04-23 20:03] #50 closed

[2020-04-23 20:04] julian28300 commented on #50
nvm all I needed was to change the settings to manual login

[2020-04-23 20:04] JonasNilson commented on #50
How did you solve it?

[2020-04-23 21:05] DeePSleeP44 opened #51 "Just wanted to ask which Games we should add to Black List!"
I just afraid to get VAC ban because of that, which games we should add to black list ? Anyone have anything to say about it ?

[2020-04-24 02:46] dyroski commented on #51
I don't think you can get vac banned using this, so I would say go ahead and use it on any game you want.

[2020-04-24 03:20] DeePSleeP44 commented on #51
I just heard something about it, they just told don't use VAC protection games in any case. Just wanna be sure from everything is okey with it.

[2020-04-24 19:23] DeePSleeP44 commented on #51
https://steamcommunity.com/groups/idlemastery/discussions/0/152392786912268315/
![ID](https://user-images.githubusercontent.com/64228701/80249268-33b73c00-867a-11ea-8fca-0149ab3ac11b.PNG)

[2020-04-24 19:27] #51 closed

[2020-04-25 15:18] JonasNilson commented on #48
It could be related to this post by jshackles (creator of Idle Master): https://steamcommunity.com/groups/idlemastery/announcements/detail/203007488879621804

In short you might need to idle the game for two hours before getting a card drop. This is due to Valves policy to avoid having people buy a game, get the trading cards, and then refund the game.

Source: https://steamcommunity.com/groups/id

[2020-04-25 18:18] sa3d3 opened #52 "Attempting to quick login and not asking for steam guard code"
I tried clearing cookies but the issue persists. It doesn't ask for code and simply proceeds to log in (but fails obviously)

[2020-04-25 18:33] Grinvichon opened #53 "Не работает"
При входе в программу пишет что идёт процесс но нечего не происходит
![image](https://user-images.githubusercontent.com/37119856/80287836-5c076f00-873c-11ea-8414-a740b877adda.png)

[2020-04-25 18:57] JonasNilson commented on #52
What part of the login process fails? Do you have a screenshot of the issue?

[2020-04-26 10:58] GrimmReaperXD commented on #52
@sa3d3 Go to setting and turn off quick login option. I had the same issue as you and it solved after I turned it off

[2020-04-27 14:28] encloinc opened #54 "Is i possible to communicate with the app programatically?"
Does the app have a CLI or something?

[2020-04-27 15:28] JonasNilson commented on #54
@encloinc

https://github.com/JonasNilson/idle_master_extended/issues/36#issuecomment-596105776

That might be what you're looking for

[2020-04-28 16:06] FreeBath opened #55 "games not appearing"
i logged in but none of my games are appearing, anyone know how to fix?

[2020-04-28 16:13] #55 closed

[2020-05-01 10:52] routerabfrage commented on #42
There are different Programms like
https://github.com/Ezzpify/HourBoostr
they have Fearures like that but if Idle-Master would had that it would be better!

[2020-05-02 16:20] #45 closed

[2020-05-02 16:21] #48 closed

[2020-05-02 16:24] JonasNilson commented on #53
Can you provide more information? For example:
* How many cards do you have left to receive from idling? Best is to check under your badge page: http://steamcommunity.com/my/badges

[2020-05-02 16:24] #54 closed

[2020-05-12 04:14] zomodo97 commented on #31
Im also having a problem where the quick login does nothing. It worked before but it only tracked one game when I had many other games that has trading cards

[2020-05-15 01:51] Chillidog36 opened #56 "in the newest release i click sign in and then it brings me to my profile, shortly after it force quits and on the bottom right it says not in game"
add me in discord to show you @ PPP_Chilli dog36#0862

[2020-05-17 12:13] JonasNilson commented on #56
Can you provide a screenshot of the issue?

Also look under: https://github.com/JonasNilson/idle_master_extended#troubleshooting-and-common-solutions

[2020-05-23 07:43] Chaython opened #59 "Steam client status"
Says steam is not running when it is.
Does steam have to be installed in a certain directory or something?
If I ignore steam status, it starts runnin games... but they don't actually run if I look at steam

[2020-05-23 17:24] SliderKP commented on #56
after login correctly i see this again:
http://puu.sh/FNVms/8bea8b9f71.png

for first i need to disable "quick login" option.

[2020-05-23 17:28] JonasNilson commented on #56
@SliderKP

You can probably get past the issue by pasting your Steam cookies: https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720 (never post that cookie online though)

[2020-05-24 19:37] JonasNilson commented on #59
That should not be necessary, as far as I know.

Can you provide a screenshot of the issue? Make sure you are running the latest version: https://github.com/JonasNilson/idle_master_extended/releases

Also, do you have an `error.log` with recent output? It should be in your Idle Master Extended directory:
![image](https://user-images.githubusercontent.com/5990550/82763279-c9bfbd00-9e06-11ea-9401-c0

[2020-05-24 19:42] #53 closed

[2020-05-24 19:42] JonasNilson commented on #56
@Chillidog36

How many games do you have with card drops remaining?

You can check under: http://steamcommunity.com/my/badges

[2020-05-24 19:58] Chillidog36 commented on #56
![Uploading E9F4DD04-1903-458B-BC8C-C2C6EB046B70.png…]()

[2020-05-24 19:58] Chillidog36 commented on #56
![AFD83979-72D0-45F6-AB56-58DB829EF429](https://user-images.githubusercontent.com/65378645/82763685-1091c080-9dcf-11ea-8f8c-9edd7799bad3.png)
![2EBB3D6A-F659-4283-AB8F-D39C985EC5A4](https://user-images.githubusercontent.com/65378645/82763686-112a5700-9dcf-11ea-9b90-ed4a04ac5160.png)

[2020-05-24 21:18] JonasNilson commented on #56
Based on that information you can't get card drops from those games. Either you have received them for free, or you have already achieved the cards from them:
* https://steamcommunity.com/tradingcards/faq/

[2020-05-24 21:18] #56 closed

[2020-05-27 07:32] jaypordy opened #61 "[Feature Request] Idle any game for a custom amount of time"
Whether there are  available card drops or not, allow the user to select a game and idle/play it for a given time w/o downloading it.

This is mainly for badges. I have to re-download huge games in order to get these silly badges. Feature like this might come in handy.

Note: The event ends tomorrow, would be cool if you could mash something out before that.

[2020-05-27 18:37] JonasNilson commented on #61
@jaypordy

It's actually something I've been working on in a separate branch, but it's not ready for release yet.

You can try and use this method to idle any game: https://github.com/JonasNilson/idle_master_extended/issues/36#issuecomment-596105776

[2020-05-27 18:52] jaypordy commented on #61
Thanks, you are the man!

[2020-05-27 19:02] JonasNilson commented on #61
Some information about this feature is available here: https://github.com/JonasNilson/idle_master_extended/pull/60

Basically you can checkout that branch and build it yourself, but there will be some potential bugs as it's not fully tested yet

[2020-05-27 19:05] jaypordy commented on #61
Thanks. Will check it out. Shall I close this issue since it is being tracked on #42 ?

[2020-05-27 19:07] JonasNilson commented on #61
@jaypordy Leave it open for a little while. I'll write here once it's done and ready for release

[2020-05-27 19:08] jaypordy commented on #61
Roger

[2020-06-07 10:38] #52 closed

[2020-06-07 10:38] #59 closed

[2020-06-07 13:05] JonasNilson commented on #31
@zomodo97 @julian28300 @tduarte21 @DumbJoe @Entharia

If you are still experiencing this issue, please try the latest release and get back to me in a separate issue if it is still something that's broken:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:05] #31 closed

[2020-06-07 13:05] JonasNilson commented on #32
Has been taken care of in the latest release:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:05] #32 closed

[2020-06-07 13:06] JonasNilson commented on #42
A whitelist mode was added in the latest release:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:06] #42 closed

[2020-06-07 13:06] JonasNilson commented on #43
Get back to me in a separate issue if the latest release is not working:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:06] #43 closed

[2020-06-07 13:07] JonasNilson commented on #46
This has been handled in the latest release:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:07] #46 closed

[2020-06-07 13:07] JonasNilson commented on #61
@jaypordy

A whitelist mode has been added in the latest release:
* https://github.com/JonasNilson/idle_master_extended/releases

[2020-06-07 13:07] #61 closed

[2020-06-12 05:32] Shadow0104 opened #65 "THE FAST MODE DONT WORK FOR ME"
The fast mode don't work for my me . I must use Whitelist and after 10h idling i have nothing and then say i idle 3 minutes

[2020-06-12 05:41] JonasNilson commented on #65
@Shadow0104
Can you provide a screenshot of the issue?

And what games do you have in your whitelist?

[2020-06-15 09:00] h0wardch3ng commented on #34
LOGIN INFINITE LOOP, PLEASE TURN OFF THE AUTO LOGIN SETTING AND AUTO CLEAN LOGIN CACHE

[2020-06-15 15:20] JonasNilson commented on #65
I need some additional information to work on this.

Do you have any output in `error.log` in your Idle Master Extended directory?

[2020-06-15 15:21] JonasNilson commented on #34
If you are experiencing any login issues, please open a separate issue with details on what goes wrong.

[2020-06-15 19:36] Shadow0104 commented on #65
hello , here is the screen of the problem .
Pls i love idle master and i want use it help me .
That say reading the badge page and idling complete.
[image: htdthcgf.png]
[image: hydtgbrvsf.png]

<http://www.avg.com/email-signature?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Garanti
sans virus. www.avg.com
<http://www.avg.com/email-signature?utm_medium=email&utm_sou

[2020-06-15 19:38] Shadow0104 commented on #65
15/06/2020 21:33:01   CookieClient -> GetHttpAsync, for url =
https://steamcommunity.com/profiles/76561199052272519/badges/?p=1
System.Net.WebException: An exception occurred during a WebClient request.
---> System.NullReferenceException: Object reference not set to an instance
of an object.
   at System.Net.WebClient.DownloadBitsState.SetResponse(WebResponse
response)
   at System.Net.WebClient.D

[2020-06-16 05:40] AMITIEL23 opened #66 "Not working."

[2020-06-16 05:42] #66 closed

[2020-06-18 06:12] dulexezz opened #67 "I can't sign in"
https://drive.google.com/file/d/1nO25i_bQ69iS_AxUEpST-6qiw4tFKGci/view?usp=sharing
Like this

[2020-06-20 04:45] Nerdo-exe opened #68 "It doesn't work for me"
Hi, For a few days idle master stopped working for me. It does not show me any list of games when before, I use the fast mode and default. I get the following error

![image](https://user-images.githubusercontent.com/67180052/85192103-b124b480-b297-11ea-947d-30ab55267fec.png)

[2020-06-20 04:52] eddrdgz commented on #67
I have the same problem, it is updated every moment and does not allow me to log in

[2020-06-20 18:01] Thymue opened #69 "Latest release gets blocked by windows defender"
![image](https://user-images.githubusercontent.com/26690825/85208427-bb46c180-b330-11ea-8638-6470f55cf7ad.png)

[2020-06-23 16:47] Lazare-C opened #70 "strange bug"
I have strange bug and idle stay blocked

https://i.imgur.com/sgS48cv.png

`23/06/2020 18:43:31   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/*******************
System.Exception: Response is null or empty. Added (+1) to RetryCount
   à IdleMaster.frmMain.CheckIfResponseIsNullWithRetryCount(String response)
   à IdleMaster.frmMain.<GetBadgePageAsync>d__33.MoveNext()

[2020-06-23 18:46] JonasNilson commented on #68
@Nerdo-exe

That error is related to the blacklist and shouldn't affect the list of games.

How many games do you have with cards remaining?

[2020-06-23 18:48] JonasNilson commented on #67
@dulexezz

Go to File > Settings and disable quick login

Also, look under the Idle Master Extended directory and look for the `error.log` and provide me with the file content

[2020-06-23 18:49] JonasNilson commented on #69
@Thymue

I have not seen this before. Where did you download the zip-file from?

[2020-06-23 18:51] JonasNilson commented on #70
@Lazare-C

I have to look more into this.

How many games do you have card drops remaining for?

[2020-06-23 20:28] Thymue commented on #69
From the releases but it doesn't do that anymore for some reason idk

[2020-06-23 20:28] #69 closed

[2020-06-23 20:51] Lazare-C commented on #70
I still have about 50 badges left to drop.

[2020-06-23 21:12] Nerdo-exe commented on #68
I have 8 games to get cards yet, which never marked me in the list of games.

[2020-06-23 21:44] #70 closed

[2020-06-24 05:30] JonasNilson commented on #70
@Lazare-C Did you find a workaround?

[2020-06-24 16:22] dulexezz commented on #67
@JonasNilson   Oh that work !!  thank you so much <3

[2020-06-24 16:22] #67 closed

[2020-06-26 15:37] LUFFE154 opened #71 "QuickLogin doesn't able me to login"
im trying to loging into steam on idle master and when I digit something it disapear

[2020-06-26 18:13] JonasNilson commented on #71
@LUFFE154 You can disable the Quick-login through `File > Settings > General > Quick Login`

[2020-06-26 18:14] JonasNilson commented on #68
Can you provide a screenshot of the games on your badge page? https://steamcommunity.com/my/badges

[2020-06-26 18:15] JonasNilson commented on #65
@Shadow0104 The screenshots does not show up on my end. Can you send them again, preferably through your browser on GitHub instead of mail?

[2020-06-26 20:52] barfin opened #72 "support for linux and mac?"

[2020-06-26 21:54] kiefzzz commented on #71
Same issue here. I don't have File > Settings > General > Quick Login on 1.5

[2020-06-27 16:52] JonasNilson commented on #72
You can try: https://github.com/jshackles/idle_master_py

[2020-06-27 18:38] olivervbk opened #73 "Login not working: Javascript must be enabled to use this site"
When opening Idle Master for the first time, trying to log in, the message appears on the steam login prompt:
Javascript must be enabled to use this site

Then it refreshes and I can't log in.

[2020-06-27 18:47] olivervbk commented on #73
Tried the manual login with sessionId and steamLoginSecure, says data is invalid..

[2020-06-27 18:56] olivervbk commented on #73
Ah, seems it was because I was running it on Windows Server with the Enhanced Security Configuration enabled.

(Go into Server  Manager, disable Enhanced Security Configuration, restart the Idle Master program.)

[2020-06-27 18:56] #73 closed

[2020-06-28 12:40] JonasNilson commented on #73
@olivervbk Thanks for getting back with a solution to the issue 🐱‍💻

[2020-06-28 12:40] #72 closed

[2020-06-28 12:40] #71 closed

[2020-06-28 22:05] Ulekar opened #74 "idle master farm card only 5 second then jsut stay online"
idle master dont see all games and i dont talk about free games i talk about games like: dark souls 3, bioshock remastered ,  , borerlands 2 e.t.c

[2020-06-28 22:24] Ulekar commented on #74
in error log i have
28.06.2020 23:57:51   frmMain -> SortBadges -> The method (mostvalue) resulted in an exception
System.Net.WebException: Nie można rozpoznać nazwy zdalnej: 'api.enhancedsteam.com'
   w System.Net.WebClient.DownloadDataInternal(Uri address, WebRequest& request)
   w System.Net.WebClient.DownloadString(Uri address)
   w System.Net.WebClient.DownloadString(String address)
   w Idle

[2020-06-29 20:04] JonasNilson commented on #74
And among those games, do you have card drops remaining? Check under https://steamcommunity.com/my/badges

[2020-06-30 05:43] 20Joseph03 commented on #68
Hello, it has not been working for me either, an error appears, and although it is the first time that I download it, it sends me the error
![01](https://user-images.githubusercontent.com/67622766/86087809-17b58980-ba73-11ea-9db4-c6873f35a856.JPG)

[2020-06-30 08:46] JonasNilson commented on #68
@20Joseph03 That looks like to be related to the sorting of the badges. Try to change it to the Default sorting:

![image](https://user-images.githubusercontent.com/5990550/86104902-ef537c80-babe-11ea-90b8-891d358ba72a.png)

[2020-06-30 15:10] 20Joseph03 commented on #68
I found the error, I'm from Chile, so I changed the language to Spanish, so I wanted to check if it was the language that caused the problem. Delete the Language folder and then it won't send me an error, even changing the options that you recommended.

[2020-06-30 15:23] 20Joseph03 commented on #68
But there is one more thing, how do I know that a game is farming trading cards if nothing appears in the user startup section?

[2020-06-30 16:06] VorgonBattlecruiser opened #75 "Sign-in issues"
When clicking "Sign-in" and steam is on it connects itself successfully. After a while it signs itself out, even though Steam is still running.

Signing in manually is not possible. It opens the Sign-in page. If i am not fast enough it quickly erases everything in username and password.

If i very quickly manage to copy and paste both i get to the Steam Guard-screen, but that closes itself again a

[2020-06-30 16:07] 20Joseph03 commented on #68
check if you not understant
https://youtu.be/m-hTo5jZ_wQ

[2020-07-01 17:54] Roqche commented on #75
I have the same issue.

[2020-07-01 18:52] Gomze commented on #75
Same issue

[2020-07-01 19:23] Flojsyk opened #76 "games doesnt show"
Hello, if i downlaod idle master, i will extract it on the desktop, launch it in administrator ( i tried also without it ) and when i login into my steam account it doesnt show my games etc. in security settings i have all to public. Can anybody help? thank you

[2020-07-02 10:09] HotSnack opened #77 "option "shutdown windows when done" cannot be ticked?"
so i have used v1.3 before and had that option available right when i launched it
and now when i update it to v1.5 i have to find it in settings
but after ticking "shutdown windows when done" and hit accept, i opened settings again and it shows that it didnt tick for me?
pls fix this bug

[2020-07-02 12:29] JonasNilson commented on #75
@VorgonBattlecruiser

You can try to disable Quick-login under File > Settings > General > Quick login

[2020-07-02 12:30] JonasNilson commented on #77
@HotSnack

Interesting. I will have a look at it.

[2020-07-02 12:30] JonasNilson commented on #76
@Flojsyk

Do you have card drops remaining for those games?

[2020-07-02 12:31] JonasNilson commented on #68
@20Joseph03

Based on that you don't have any card drops remaining for your games

[2020-07-02 12:49] HotSnack commented on #77
i tried to some game when i wrote this and its still turn off my pc tho
but the fact is that it just doesnt tick make me feel confusing
anyway ty for reply

[2020-07-02 18:00] YikesaitingPressE opened #78 "Language contribution"
Hi there,

I would like to contribute the translation for the Chinese language, how I can I help?

I try to click the translation page, but it won't work.

Thanks!

[2020-07-03 06:08] Ulekar commented on #74
i I repair last problem with dont see all games  but i have new problem. I drop all card from my account but i buy new games , this games have card for example metro exodus i can drop 3 cards ,idle master  normal see this games and try drop cards but after 15 minutes do check satus games.But idle master do this check 6 hours and nothink hapend just stay on check
I left for the night idle master on

[2020-07-03 06:48] Ulekar commented on #74
![gif](https://user-images.githubusercontent.com/67562242/86439915-c3780700-bd09-11ea-8deb-04665691f484.gif)

[2020-07-03 08:23] Ulekar commented on #74
and alltime was onnline all time no in game to restart program but after second it do it again restart pc dont help , windows
Troubleshooting with intenret doesnt help ,

[2020-07-03 08:26] Ulekar commented on #74
and its stay online to restart program so idle master farm card alltime for only 1-2 second
i have this problem since yesterday

[2020-07-03 09:03] Ulekar commented on #74
i repired this problem to its my internet  fault so can close

[2020-07-03 17:45] ziomii opened #80 "idling for 9hrs straight still no cards"
I`ve been idling for 9hrs and no cards, still, 22cards remaining as started...

[2020-07-03 20:39] JonasNilson commented on #80
Can you provide a screenshot of the issue? And what games do you have that still have card drops remaining?

[2020-07-03 20:42] JonasNilson commented on #78
The translation page was made for the original Idle Master, and sadly it is gone. Your best way would be to make the adjustments in the localization directory: https://github.com/JonasNilson/idle_master_extended/tree/develop/Source/IdleMaster/localization

And then make a pull request: https://github.com/JonasNilson/idle_master_extended#contribute

I guess I should remove the dead link...

[2020-07-03 21:05] JonasNilson commented on #77
Thanks for verifying the functionality. It looks like the checkbox does not take the current state into account, and I will have it fixed for the next release.

[2020-07-03 21:29] ziomii commented on #80
Sure. the screenshots are here:
https://prnt.sc/tbene7
https://prnt.sc/tbemwv
https://prnt.sc/tbeo5d

[2020-07-03 21:36] JonasNilson commented on #80
@ziomii interesting. Does Steam show you as "in-game"? And does your total play time equal those times in Idle Master Extended?

[2020-07-03 21:40] ziomii commented on #80
Yeah, I'm in all the games at once, and the hour's match.

[2020-07-03 22:15] JonasNilson commented on #80
@ziomii What idling mode are you using?

[2020-07-03 22:19] ziomii commented on #80
It's just regular settings I guess...
https://prnt.sc/tbfc06

[2020-07-04 07:26] avaadorenl commented on #80
Ziommi do you have steam running with status invisible?
i didnt get cards with that, change status to online, and started idle master again, and worked!

[2020-07-04 10:42] ziomii commented on #80
Alright man, thanks, gonna try that out.

[2020-07-04 10:44] OhSlushy opened #81 "Added the option to choose a game to idle with the app id"
For some reason, I couldn't open a pull request so I am adding it here.

- Added an option in the menu strip under file called "Choose Game" which opens a sub form to enter the app id of a game and save it. It then idles the game you entered.
- Added the ability to click the game image to then open the link to the steam page.

**Issues**
- No language support
- Not my icon next to "Choose Game"
-

[2020-07-04 10:48] #81 closed

[2020-07-04 11:58] Flojsyk commented on #76
How do you mean it?

[2020-07-04 11:59] Flojsyk commented on #76
I think about it and i got games whah are free or what i get from anybody, so i dont know if it is this.

[2020-07-04 12:26] ziomii commented on #80
@avaadorenl Unfortunately that didn't work for me either, Idk what's going on with my steam acc...

[2020-07-04 12:43] JonasNilson commented on #76
@Flojsyk

https://steamcommunity.com/tradingcards/faq/

[2020-07-04 12:45] JonasNilson commented on #80
@ziomii It might be worth opening a support ticket at Steam, so that they can look at your account and see if there is an issue with your card drops

[2020-07-04 16:47] Flojsyk commented on #76
Ah yeah, it working, thanks for feedback and sorry for your time, bye :)

[2020-07-04 20:16] #74 closed

[2020-07-06 09:15] yussufjpg opened #83 "Steam Invisible Status [Feature Request]"
Can you add a feature to change Steam status to Invisible when process starts, and when it ends switches back to Online

[2020-07-06 09:52] JonasNilson commented on #83
@yussufjpg I really like that idea, and will definitely look into it 👍🏻

[2020-07-06 16:59] #76 closed

[2020-07-06 18:41] YikesaitingPressE commented on #78
Hi Jonas,

I think I add a pull request to the repo. Sorry for any inconvenience, I haven't use git and coding for a long time, almost forget what I learned...Forgive me if I mess up anything. Please let me know anything I need to do or any corrections I need to make.

Thanks!

[2020-07-06 19:11] JonasNilson commented on #78
@YikesaitingPressE Thank you for contributing 👌🏻 I will have a look at the pull request

[2020-07-08 10:27] ziomii commented on #80
Alright, all I can say at the moment is its not idle master fault or something, for my other acc it worked, but in acc, I have the most cards won't...

[2020-07-08 17:05] LearnSubjects opened #85 "Doesn't work for me?"
I've done everything I need to do (I think), I closed steam then done everything including running the apps as an admin and then opening steam and ect. But the latest time I done it, this time it came up with an error, this is the error:

08/07/2020 18:00:57
System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'frmMain'.
   at System.Windows.Forms.Control.CreateHandle()

[2020-07-08 20:28] JonasNilson commented on #85
@LearnSubjects Can you provide a screenshot of the application?

And how many games do you have with Steam trading card drops remaining?

[2020-07-09 09:28] JonasNilson commented on #80
I don't think that's true. The [FAQ on Steam trading cards](https://steamcommunity.com/tradingcards/faq/) states you should be able to see the drops you have "earned" on your badge page:

![image](https://user-images.githubusercontent.com/5990550/87022793-4819c800-c1d7-11ea-9ccb-94ea28177081.png)

[2020-07-09 09:28] #80 closed

[2020-07-09 12:21] TESunless opened #86 "say idle completed and nothing happens"
i tried with every version and tried everything i couldve find, i have 9 or more cards available
![idle master](https://user-images.githubusercontent.com/68063868/87039499-83c08c00-c1ef-11ea-8bcf-c21b5acefe08.jpg)

[2020-07-09 12:25] JonasNilson commented on #86
@TESunless Can you provide a screenshot of your badge page with the games that have card drops left?

[2020-07-09 12:29] TESunless commented on #86
![SharedScreenshot](https://user-images.githubusercontent.com/68063868/87040147-91c2dc80-c1f0-11ea-959d-97e50e5b10c9.jpg)

[2020-07-09 12:29] TESunless commented on #86
its in italian i can translate the page if u want

[2020-07-09 14:12] LearnSubjects commented on #86
Got exact same issue.

[2020-07-09 14:14] LearnSubjects commented on #85
@JonasNilson It looks exactly the same as the person who posted just 2 hours ago about a bug and I have around 4 games remaining.

[2020-07-09 14:48] JonasNilson commented on #86
@TESunless based on that you don't have any card drops remaining for your games

[2020-07-09 17:36] TESunless commented on #86
oh so i cant like reget cards?

[2020-07-09 17:38] TESunless commented on #86
but wait, i have rocket league wich is a payed game and i got that with family share from a friends account, can i get cards from that?

[2020-07-09 18:12] JonasNilson commented on #86
@TESunless

You can read more about the trading card system here:  https://steamcommunity.com/tradingcards/

[2020-07-09 18:14] LearnSubjects commented on #85
@JonasNilson Please reply, you've been replying to other people but not me?

[2020-07-09 19:13] JonasNilson commented on #85
@LearnSubjects Can you provide a screenshot of those games on your badge page?

[2020-07-09 19:14] LearnSubjects commented on #85
@JonasNilson How do I get on that page? All I know is that I have multiple games like SimAirport which have trading cards to get. On SimAirport I have 5 trading cards left.

[2020-07-09 19:19] JonasNilson commented on #85
@LearnSubjects https://steamcommunity.com/my/badges

You can also get there from the Steam app by going under your <profile name> > Badges

[2020-07-09 19:20] LearnSubjects commented on #85
@JonasNilson Could you dm me on discord so this can be quicker? My user is: What#0767

[2020-07-09 19:21] LearnSubjects commented on #85
![image](https://user-images.githubusercontent.com/61244718/87081695-b5eae180-c221-11ea-9e26-894c63725902.png)
![image](https://user-images.githubusercontent.com/61244718/87081698-b8e5d200-c221-11ea-8d4f-435082aa9e1e.png)
![image](https://user-images.githubusercontent.com/61244718/87081708-bbe0c280-c221-11ea-85f2-4a3d4e78447d.png)
there thats my badges

[2020-07-09 19:22] JonasNilson commented on #85
@LearnSubjects and if you look at the information there you have no card drops remaining for your games

[2020-07-09 19:23] LearnSubjects commented on #85
? How? It says 3 more trading cards to collect and sim airport and ect

[2020-07-09 19:44] JonasNilson commented on #85
@LearnSubjects I just based it on your screenshots. Can you provide one of SimAiport and the games with card drops remaining?

[2020-07-09 19:45] LearnSubjects commented on #85
![image](https://user-images.githubusercontent.com/61244718/87083775-116a9e80-c225-11ea-8ef7-829e4eacfadd.png)
 @JonasNilson there

[2020-07-09 19:48] JonasNilson commented on #85
@LearnSubjects You have no card drops remaining for that game (you have received at least 3 it looks like).

You do have 5 more cards to collect, either by buying or trading for them

[2020-07-11 14:44] #86 closed

[2020-07-11 14:45] #85 closed

[2020-07-12 18:14] fury014 opened #87 "Idle Master Extended v1.5 keeps logging me out"
Everytime i leave it on idleing it just logs me out after around 15/20mins. Thanks.

[2020-07-12 18:28] JonasNilson commented on #87
Do you get any `error.log` in your Idle Master Extended directory? If so, please see if you get a correlating error when the logging out happens.

[2020-07-12 23:40] ziomii opened #88 "Error issues"
So I got these errors hope to get an answer...

08/07/2020 03:00:54   CookieClient -> GetHttpAsync, for url = https://steamcommunity.com/profiles/76561198985821584/badges/?p=1
System.Net.WebException: An exception occurred during a WebClient request. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Net.WebClient.DownloadBitsState.SetResponse(We

[2020-07-13 08:18] fury014 commented on #87
Sorry for the late response. Well nothing happens, it just logs out and then i need to log back in and it still logs out x number of times in a day.

[2020-07-13 15:36] JonasNilson commented on #88
I will have to look into this. Does it affect your application in any way?

[2020-07-13 15:39] JonasNilson commented on #87
I believe I managed to recreate the issue, and had this in my `error.log`:
[code]

I guess I have to look into the issue to see exactly when the issue appears.

[2020-07-13 16:04] fury014 commented on #87
Yep, thats the same one

[2020-07-13 17:05] ShadowSnakes opened #89 "Bug"
When i try to open it, sometimes it dosent work and the steam log in dosent work, i got a few new games to get trading card but it dosent work, it keeps saying ''idiling finished''

[2020-07-13 17:15] JonasNilson commented on #89
@ShadowSnakes can you provide a screenshot of the games that have cards left?

[2020-07-13 17:18] ShadowSnakes commented on #89
![scrennie](https://user-images.githubusercontent.com/68239688/87333550-eeeac500-c545-11ea-9af7-3ccabdd754ee.png)

[2020-07-13 17:18] ShadowSnakes commented on #89
sorry if i may seem stupid

[2020-07-13 17:20] JonasNilson commented on #89
@ShadowSnakes No worries. Based on that screenshot you don't have any card drops remaining for those games.

You can read up on some info here: https://steamcommunity.com/tradingcards/

[2020-07-13 17:23] ShadowSnakes commented on #89
@JonasNilson The only cards i ever got (without using idle master) was 3 or 4 rainbow six siege ones and i've downloaded 2 more games. (transformice and dota 2) thinking that it might work.

[2020-07-14 08:19] ziomii commented on #88
I dont know what these errors are, but maybe thats the reason i cant get card drops?...

[2020-07-14 09:31] JonasNilson commented on #89
@ShadowSnakes Free-to-play games require you to to spend money to get the trading cards drops

[2020-07-14 09:41] JonasNilson commented on #88
@ziomii Hard to say. I haven't seen that particular error before.

Do you have card drops remaining for your games? https://steamcommunity.com/my/badges

You should see the number of card drops remaining:
![image](https://user-images.githubusercontent.com/5990550/87410698-ee464300-c5c6-11ea-8d8d-d6b493a100c5.png)

[2020-07-14 15:01] ziomii commented on #88
yap I do see remaining cards...

[2020-07-14 15:29] JonasNilson commented on #88
@ziomii can you provide a screenshot of your badge page with the games with remaining card drops?

[2020-07-14 18:00] ziomii commented on #88
Sure. the screenshots are here:
https://prnt.sc/tbene7
https://prnt.sc/tbemwv

[2020-07-14 18:02] ziomii commented on #88
I guess i can just reinstall idle_master_extended, and then hope everything will be fine

[2020-07-15 03:53] AirplaneMode7777 opened #90 "It isn't idling at all."
I start it up, I login fine, but it always says "Idling complete" and never does anything. I've tried skipping the game but it never does anything.

![image](https://user-images.githubusercontent.com/45500469/87501491-37c97900-c62d-11ea-9317-925d5e2bc42b.png)

[2020-07-15 03:54] AirplaneMode7777 commented on #90
![image](https://user-images.githubusercontent.com/45500469/87501560-5c255580-c62d-11ea-8e06-1c47ac1b97c8.png)

I just found this error, but I don't know what it means.

[2020-07-15 04:17] JonasNilson commented on #90
What games do you have with card drops remaining? You can see them under your badge page: https://steamcommunity.com/my/badges

[2020-07-15 11:12] AirplaneMode7777 commented on #90
I currently have 5 games, but I have over 100 games no installed so that number can change.

[2020-07-15 19:57] JonasNilson commented on #90
@AirplaneMode7777 You could try to use the whitelist mode and enter the game IDs of the games you want to idle

[2020-07-15 19:58] JonasNilson commented on #88
@ziomii if that didn't solve your issue you could try the whitelist mode and enter the game IDs to the whitelist

[2020-07-15 21:14] AirplaneMode7777 commented on #90
@JonasNilson Is there a another way? I'm not familiar with that process and I'm trying to idle every possible game I own

[2020-07-15 21:36] AdrielCena commented on #90
¿Cómo podría sacar su ID para meterlos en la Lista Blanca?

[2020-07-16 05:37] JonasNilson commented on #90
@AirplaneMode7777 https://github.com/JonasNilson/idle_master_extended/issues/36#issuecomment-596105776 - you need to find the game IDs of your games and insert then into the whitelist

[2020-07-16 10:24] ziomii commented on #88
Nope didn't work, I got even more errors than the first time...

[2020-07-16 15:14] AirplaneMode7777 commented on #90
@JonasNilson Whitelisting the game still did not work

[2020-07-16 19:56] JonasNilson commented on #90
@AirplaneMode7777 Did you activate the Whitelist mode from under `File > Settings > Whitelist mode`?

What error are you getting?

[2020-07-16 19:57] JonasNilson commented on #88
@ziomii Did you activate the Whitelist mode from under `File > Settings > Whitelist mode`?

What error are you getting?

[2020-07-16 21:33] AirplaneMode7777 commented on #90
@JonasNilson Yes I did, and it didn't have anything different from the first image.

I did get this error though
![image](https://user-images.githubusercontent.com/45500469/87724984-6f016c80-c78a-11ea-9dad-b8d8045d8057.png)

[2020-07-16 21:57] ziomii commented on #88
Yeah, I did, but the problem I saw during idling with whitelist mode is, it isn't showing me actual hours of the games, for example ( grid 2 = 21hrs) it's showing 0hrs, and all the hours of the game I got from idling...

[2020-07-17 09:33] Hackerpro33 opened #91 "What is this?What is that language?"
SDRGM,'NEGasuwhjtdrfjkvn;'SSDETjmdfil/b nLDSGJo[rsad:;ar[hf;kln adrhio;snvjkns;g
bfjnkjvhsputhlzs;'dfhjlktjklrszjdfsgjkl;igj4lw['ltej[;edlsjgl;zrijv
GNJRghoklgjiopwgp4k
'''zksjykdfjsy\
pDS"{ljhy
5sojpzr't
[]vyrjl;svbgiuptyiovk'
grea[]vnhjryuae\['][kpfvhiwa[]t
rsdhphsvjioyfo;p'ltarsopagsiuvjwt8ife[w
'dgszk'ldohkdgsjioer'kbl;e5kgvkro;'tlkophktu9';
vioykrhjd0[okrtlg9pordfhujlt;rdv
';
'huklbfk0o;dbful

[2020-07-17 12:57] Milky435 opened #92 "sign in is broken"
quick login is breaking the program for me

[2020-07-18 15:24] JonasNilson commented on #92
@Milky435 do you get an error message in your `error.log`?

If not, can you provide a screenshot or explanation of what's broken?

[2020-07-18 15:25] JonasNilson commented on #91
Where is that from?

[2020-07-18 15:28] JonasNilson commented on #88
@ziomii can you provide a screenshot of your whitelist?

File > Whitelist

[2020-07-18 15:28] JonasNilson commented on #90
@AirplaneMode7777 can you provide a screenshot of your whitelist?

File > Whitelist

[2020-07-18 15:29] #89 closed

[2020-07-18 15:31] JonasNilson commented on #87
You could try to insert your cookie data from your browser and see if it helps: https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720

[2020-07-18 15:31] JonasNilson commented on #75
If you are still experiencing login issues you could insert your cookie data from your browser: https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720

[2020-07-19 00:32] JohnGarnerIII commented on #92
I can't login fast enough because the program attempts to log me in every 5 seconds.

[2020-07-19 23:14] AirplaneMode7777 commented on #90
@JonasNilson a whitelist doesn't appear in the file. If i make a text file named whitelist and enter the game codes in, will it work?

[2020-07-20 01:59] Milky435 commented on #92
![here](https://user-images.githubusercontent.com/39057005/87892409-6194fc80-ca80-11ea-96c5-e47818ff815c.PNG)

[2020-07-20 04:03] e5d67fytgb opened #94 "says not running steam"
above idle is master is connected it says steam is not running how do I fix it? and also it won't show the game its getting cards in.

[2020-07-20 05:16] Milky435 commented on #92
wait its fixed

[2020-07-20 05:16] #92 closed

[2020-07-20 13:03] SmthngLikeThis commented on #90
I have the same problem, and if i use whitelist mode it also isnt work.
![Безымянный](https://user-images.githubusercontent.com/68548208/87940638-9914a080-caa2-11ea-8303-37885b7fc43e.png)
![xxБезымянный](https://user-images.githubusercontent.com/68548208/87940645-9ca82780-caa2-11ea-9a5d-e1cc7b0e4be4.png)

[2020-07-20 17:01] JonasNilson commented on #90
@SmthngLikeThis how many card drops do you have remaining for FarCry 5? It looks like you have received some cards already

[2020-07-20 17:08] SmthngLikeThis commented on #90
3 cards remaining. I got some while I was playing.

[2020-07-20 17:16] SmthngLikeThis commented on #90
It doesn work in any game. For example DST,  I dont have cards and dont received it.
![-](https://user-images.githubusercontent.com/68548208/87966424-ee15de00-cac5-11ea-9050-1bd6f15b7c1a.png)

[2020-07-21 13:58] AirplaneMode7777 commented on #90
@JonasNilson I got the whitelist to work! I n=now believe it is idling as it is supposed to. I'll let you know if anything changes. Thank you!

[2020-07-22 18:53] CrewMaster opened #95 "Games only show up if added to Whitelist, gained hours lost as soon as Idle Master is closed"
Might be that its patched but here is my issue. When Idle Master is connected to Steam no games show up in the display. Only when I add a game to the Whitelist it shows up as "game to idle".  Even then it's bugged out, "0hrs on record" don't change at all and always "-1 card drops remaining". When I leave it running for some hours, my game also gains hours on Steam. But as soon as I close the Idle

[2020-07-24 18:19] ziomii commented on #95
Happened to me as well don't know how to fix it too... :(

[2020-08-01 13:56] JonasNilson commented on #94
Can you provide a screenshot of the issue?

You can ignore your Steam application status: https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

[2020-08-02 15:23] JonasNilson commented on #95
`-1 card drops remaining` is due to not loading the game from the badge page, and I guess I could fix that in an upcoming release.

Having Steam reset the hours is not something I have managed to reproduce. I tested with Skyrim yesterday:
![image](https://user-images.githubusercontent.com/5990550/89126271-c884cd80-d4e4-11ea-84f0-fa414d790b2c.png)

If this issue persists please get back to me in th

[2020-08-02 15:30] #65 closed

[2020-08-02 15:31] #75 closed

[2020-08-02 15:32] #78 closed

[2020-08-04 03:35] Ignacio25252255 opened #96 "Idle Master deletes my Steam username and password"
Every time I put username and password in the popup window of the popup nagevador that launches Idle Master, it deletes it automatically. Solutions? Thank you in advance

[2020-08-04 05:58] JonasNilson commented on #96
You can disable Quick login under `File > Settings > General > Quick login`

It seems to work for some, but not for all

[2020-08-05 13:39] Khafa56 opened #97 "Don't Work"
Hey So i've Been Waiting For Like 1 Hour And No Cards Appear In My Account

[2020-08-05 13:39] Khafa56 commented on #97
![Capture](https://user-images.githubusercontent.com/69250353/89419608-be203900-d75b-11ea-9926-d8fa8af156f2.PNG)

[2020-08-05 13:39] Khafa56 commented on #97
Thats What It Looks Like

[2020-08-05 13:46] marwanhxh commented on #95
same problem a lot of games not shows even if I whitelist it

[2020-08-05 19:08] JonasNilson commented on #97
Is this still an issue? Some accounts will take over 2 hours for cards to drop due to certain criterias (for example if you have returned a game you've bought)

Some information can be found here:
* https://steamcommunity.com/groups/idlemastery/announcements/detail/203007488879621804
* https://steamcommunity.com/groups/tradingcards/discussions/1/1480982971163403431/

[2020-08-05 19:08] JonasNilson commented on #95
Can you provide a screenshot of your whitelist, and the games idling?

[2020-08-05 19:09] JonasNilson commented on #91
@Hackerpro33 I need some more information regarding this issue

[2020-08-05 22:34] Khafa56 commented on #97
Yes This Is Still An Issue,Ill Try To Wait 2 Hour And See If Theres Any UpdatesThanks!

[2020-08-05 22:54] Khafa56 commented on #97
Btw,Just Want To As Is This Normal?

![Capture1](https://user-images.githubusercontent.com/69250353/89471781-36f9b200-d7a9-11ea-9953-c888e9ef4882.PNG)

[2020-08-06 00:22] peace20021 opened #98 "The hours section doesn't count in Idle master"
After using it for 9 hours I realized that the hours counting at the right doesn't work for some reason, is this a bug?
![image](https://user-images.githubusercontent.com/41183826/89476681-fb32fe00-d750-11ea-8939-0646e109878a.png)

[2020-08-06 06:44] douglasmafu opened #99 "Not working"
Not working at all.

[2020-08-06 06:48] JonasNilson commented on #99
Please provide details as to what is not working.

What games do you have to idle?

[2020-08-06 06:51] douglasmafu commented on #99
Here the log

El jue., 6 ago. 2020 a las 0:48, Jonas Nilson (<notifications@github.com>)
escribió:

--
Douglas Madrigal Fuscaldo
douglasmafu@gmail.com
Cel: 8315-4017
Apdo 1471-2100, Guadalupe, San Jose, Costa Rica

[2020-08-06 09:49] JonasNilson commented on #99
@douglasmafu the log was not attached to your message here on GitHub, so I can't see what it contains

[2020-08-06 09:50] JonasNilson commented on #98
@peace20021 I will have to investigate some and get back to you

[2020-08-06 09:51] JonasNilson commented on #97
@Khafa56 Looks normal, but are if you want to use your whitelist you should activate it under File > Settings > whitelist mode

[2020-08-06 11:41] lucasredway opened #100 "-1 Card drops remaining on all game"
im not receive cards. help me please

[2020-08-06 11:43] JonasNilson commented on #100
@lucasredway Can you provide some examples of the games that doesn't work?

Also, a screenshot of your Idle Master Extended window would help me understand

[2020-08-06 12:26] lucasredway commented on #100
Here is my games
![Uploading screencapture-steamcommunity-id-csgogamblingcloud-badges-2020-08-06-14_23_52.png…]()

[2020-08-06 12:28] lucasredway commented on #100
https://imgur.com/a/IDtPII5

[2020-08-06 12:30] lucasredway commented on #100
![image](https://user-images.githubusercontent.com/56044384/89531956-51f01480-d7f1-11ea-98d6-7b596cc240fc.png)

[2020-08-06 13:08] JonasNilson commented on #100
@lucasredway Based on your screenshot of your badge page you don't have any card drops remaining (you have already received all the cards you are eligible for)

Idling Dead Bits will not give you more cards since you have no more cards to get for free: https://steamcommunity.com/tradingcards/faq

[2020-08-06 15:42] peace20021 commented on #98
Alright I hope it will get fixed if it's a bug ;)

[2020-08-06 18:57] marwanhxh commented on #95
@JonasNilson
![Idle Master 8_6_2020 8_51_26 PM](https://user-images.githubusercontent.com/68448464/89571077-63ecaa00-d827-11ea-8224-2f5dfbc57b76.png)
![Manage Idle Master Whitelist 8_6_2020 8_51_20 PM](https://user-images.githubusercontent.com/68448464/89571079-651dd700-d827-11ea-8d16-5d848441b8cb.png)
games like tomb raider and hitman 2

[2020-08-08 12:19] carlosscrcs opened #101 ""steam is not running""
i've opened my steam and the idle master, but this keep saying "steam is not running"

[2020-08-08 12:28] #100 closed

[2020-08-08 12:29] JonasNilson commented on #101
You can ignore Steam status in case it gives you issues: https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

[2020-08-08 13:35] JonasNilson commented on #98
Looks like the hours don't count upwards in the application, but Steam should count them:
![image](https://user-images.githubusercontent.com/5990550/89711784-b4c9e300-d98c-11ea-87c6-11a782e21341.png)

[2020-08-08 13:41] JonasNilson commented on #95
@marwanhxh Are you sure you have enabled Whitelist mode under the Settings?

![image](https://user-images.githubusercontent.com/5990550/89711931-a3350b00-d98d-11ea-8813-f52aac2232d2.png)

![image](https://user-images.githubusercontent.com/5990550/89711919-92849500-d98d-11ea-807e-8850ee87d740.png)

[2020-08-08 13:42] #90 closed

[2020-08-08 14:52] carlosscrcs commented on #101
thank you!

[2020-08-08 14:54] carlosscrcs commented on #101
but , i have another problem, this is saying "idling complete" every time

[2020-08-08 15:01] JonasNilson commented on #101
@carlosscrcs

What games on Steam do you have with card drops remaining? You can check under your badge page.

[2020-08-08 15:18] peace20021 commented on #98
Yeah the hours don't count in the app but steam does count them, it's just weird to have that doesn't work I guess. I think you should remove it temporary and then add it in later on when you fixed it.
Also, sometimes, the app just crashed for no reason, I just realized this too. I don't know how to report back a log for this but it happens.

[2020-08-09 09:18] marwanhxh commented on #95
yes fam and it stuck on loading

[2020-08-09 12:08] JonasNilson commented on #98
Thanks for the suggestion. I will have to look into it.

What kind of crash is it? Does the applications stop responding, or does it simply diappear?

[2020-08-10 11:04] peace20021 commented on #98
It simply disappear after a while, I have to check once a while to make sure it's working.

[2020-08-10 12:08] JonasNilson commented on #95
@marwanhxh

Based on your previous screenshot you could try to delete the first empty row in your whitelist and see if that helps.

If you still have issues you can send a screenshot of your settings window just so I can see what's going on there.

Also, do you get any output in `error.log`?

[2020-08-13 20:04] Your-teammate opened #102 "Rework "Shutdown Windows when done""
The problem is that even if there are no games to idle, the Idle Master sends a shutdown request to Windows, giving only a somewhat brief opportunity to untick the setting, what is pretty annoying. I would suggest being able to tick this setting only for one boot (and permanently as well), or, for example, just don't make the program shut down your PC if there were no games to idle from the start.

[2020-08-14 12:09] RazvuK opened #103 "The application not farm , the cards... help me"
The idle master doesn't want to make me those cards and I will put here what appears to me in error.log   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/76561198334332289
System.Exception: Response is null or empty. Added (+1) to RetryCount
   at IdleMaster.frmMain.CheckIfResponseIsNullWithRetryCount(String response)
   at IdleMaster.frmMain.<GetBadgePageAsync>d__33.Mo

[2020-08-14 12:21] JonasNilson commented on #103
@RazvuK Can you provide a screenshot of Idle Master Extended?

Also, what games do you have to idle?

[2020-08-14 12:23] JonasNilson commented on #102
@Your-teammate Definitely sounds reasonable. I will make sure to address it in the upcoming release

[2020-08-14 12:24] RazvuK commented on #103
![Capture](https://user-images.githubusercontent.com/39533194/90248891-2ea51500-de42-11ea-9960-9f4e85561142.PNG)

[2020-08-14 12:29] JonasNilson commented on #103
@RazvuK And how many cards are you eligible to get from that game? You can see that on your badge page: https://steamcommunity.com/my/badges

[2020-08-14 12:33] RazvuK commented on #103
![Capture2](https://user-images.githubusercontent.com/39533194/90249521-4df07200-de43-11ea-8195-18dfcc2fc5b4.PNG)
he has, but he doesn't give me the cards, I tried with several accounts.

[2020-08-14 12:39] JonasNilson commented on #103
@RazvuK

According to the screenshot there are "No card drops remaining", so idling the game will not give you any cards

[2020-08-14 12:45] RazvuK commented on #103
bro but i try with another account , with a free games. and not working.

[2020-08-14 12:53] RazvuK commented on #103
bro i make a new account . and i see this
![image](https://user-images.githubusercontent.com/39533194/90251408-5ac29500-de46-11ea-8b39-0b1455f182cc.png)

[2020-08-14 12:54] RazvuK commented on #103
and no cards =(
![image](https://user-images.githubusercontent.com/39533194/90251493-7e85db00-de46-11ea-944e-2d44b57595cd.png)

[2020-08-14 13:02] JonasNilson commented on #103
@RazvuK Free games don't give you card drops unless you spend money in them.

https://steamcommunity.com/tradingcards/faq/

[2020-08-15 12:16] peace20021 commented on #98
Hi,

I know I've kinda been asking a lot, but can you sometimes in the future add the start/stop button on the app, or you can start stop idle each app specifically as I wanna play games I'm idling. It's kinda annoying for me to turn off the app, run the game and turn it on again.
I know coding is hard, so I just ask you if you can do it sometimes in the future.

Thanks

[2020-08-15 13:45] BrenoXDMoon opened #104 "There is no game appearing"
![image](https://user-images.githubusercontent.com/38464369/90313598-2ef5ec80-dee4-11ea-8cba-2a1d6afb1367.png)

Any game appear at the screen. I tried adding games in the whitelist too, but didn't worked

[2020-08-21 17:44] mando7holo opened #105 "It dont idle any game"
21.08.2020 19:43:04   frmMain -> SortBadges -> The method (mostvalue) resulted in an exception
System.Net.WebException: Der Remotename konnte nicht aufgelöst werden: 'api.enhancedsteam.com'
   bei System.Net.WebClient.DownloadDataInternal(Uri address, WebRequest& request)
   bei System.Net.WebClient.DownloadString(Uri address)
   bei System.Net.WebClient.DownloadString(String address)
   bei IdleM

[2020-08-26 14:49] #103 closed

[2020-08-26 14:50] #101 closed

[2020-08-27 12:31] ThwKarolis opened #108 "Idling Complete"
Can someone help me with this problem?
![Screenshot_1](https://user-images.githubusercontent.com/55271775/91442342-5fda0800-e87a-11ea-83db-6d0860815f1c.png)

[2020-08-27 12:40] JonasNilson commented on #105
@mando7holo Change to default sorting mode to avoid this error message.

[2020-08-27 12:41] JonasNilson commented on #104
@BrenoXDMoon What games do you own with card drops remaining?

Note that you are eligible for roughly half of the badge cards.

[2020-08-28 17:35] mando7holo commented on #104
here are the screenshots

Am Do., 27. Aug. 2020 um 14:41 Uhr schrieb Jonas Nilson <
notifications@github.com>:

[2020-08-28 17:41] JonasNilson commented on #104
@mando7holo There's no screenshot attached

[2020-08-28 17:44] mando7holo commented on #104
![Screenshot (34)](https://user-images.githubusercontent.com/52405915/91599616-d81df780-e966-11ea-96d2-f7ba73ea741e.png)
![Screenshot (35)](https://user-images.githubusercontent.com/52405915/91599621-d9e7bb00-e966-11ea-979c-8e1144115c98.png)

soo sry

[2020-08-29 07:26] JonasNilson commented on #104
@mando7holo as you can see it says "no card drops remaining" so you don't have any cards to get from idling.

You can use the whitelist mode if you want to gain hours in some specific games

[2020-08-29 12:43] QuerakTV opened #109 "I don't see any game to idle and i have this error"
8/29/2020 5:40:53 AM   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/76561199060945868
System.Exception: Response is null or empty. Added (+1) to RetryCount
   at IdleMaster.frmMain.CheckIfResponseIsNullWithRetryCount(String response)
   at IdleMaster.frmMain.<GetBadgePageAsync>d__33.MoveNext()
--- End of stack trace from previous location where exception was thrown -

[2020-08-29 12:51] JonasNilson commented on #109
@QuerakTV What kind of issue are you experiencing? This error message is due to not being able to load your badge page

[2020-08-29 12:52] JonasNilson commented on #108
@ThwKarolis What games do you own with card drops remaining?

[2020-08-29 12:54] JonasNilson commented on #98
@peace20021 I always like getting suggestions, so I will have a look at this once I get time

[2020-08-29 12:56] QuerakTV commented on #109
![Screenshot_1](https://user-images.githubusercontent.com/43861529/91637295-0b0fcc00-e9f7-11ea-9319-36da22d0b487.png)

[2020-08-29 12:56] QuerakTV commented on #109
i don't see any game to idle

[2020-08-29 12:59] JonasNilson commented on #109
@QuerakTV What games do you own that have card drops remaining?

https://steamcommunity.com/my/badges

[2020-08-29 13:00] QuerakTV commented on #109
Only csgo

[2020-08-29 13:00] QuerakTV commented on #109
and i want boost my hours

[2020-08-29 13:57] JonasNilson commented on #109
@QuerakTV then you could use whitelist mode:https://github.com/JonasNilson/idle_master_extended/wiki/Whitelist-mode

[2020-08-29 14:00] QuerakTV commented on #109
ohhh thanks for help

[2020-08-29 14:31] #109 closed

[2020-08-29 17:02] #94 closed

[2020-08-29 19:21] #108 closed

[2020-08-29 19:22] ThwKarolis commented on #108
.

[2020-08-30 07:29] Lrozcz opened #110 "Not openning other games"
I have too much games and for first time it searched at all games. for a while. now i selled these cards but progress wasnt done and if i run idle master it starts games that i havent cards before (do i need to wait until done? to search for the cards AGAIN)

because i didnt completed any set and realy want to complete it :/

[2020-08-30 08:15] JonasNilson commented on #110
@Lrozcz If I understand your situation correctly you will not receive more cards for the games you sold the cards from.

In short you only receive half the badge for each game for free, and then you are expected to trade or buy the rest: https://steamcommunity.com/tradingcards/

If you look under your badge page you can see which games you can receive more cards from: http://steamcommunity.com/my/

[2020-08-30 08:19] Lrozcz commented on #110
And what if i selled the free cards? Can i get them again?

Od: Jonas Nilson
Odesláno:neděle 30. srpna 2020 10:15
Komu: JonasNilson/idle_master_extended
Kopie: Lrozcz; Mention
Předmět: Re: [JonasNilson/idle_master_extended] Not openning other games(#110)

@Lrozcz If I understand your situation correctly you will not receive more cards for the games you sold the cards from.
In short you only receiv

[2020-08-30 12:33] JonasNilson commented on #110
In short, no. If you've received cards from Steam for free and sold them you have to either trade them back, buy them or buy booster packs.

[2020-08-31 14:28] #91 closed

[2020-08-31 19:22] jhonsp101 commented on #87
Hi Jonas, i have the same problem, v1.5 keeps logging me out. i don't know if i have any error.log and i don't know how to insert cookie data from browser. I would appreciate if you could help me. Thanks

[2020-09-06 23:20] ensaryusuf opened #113 "Need EA Acces Update"

[2020-09-07 11:03] LoganTRowley commented on #87
Also having this issue. Here's my error log:

9/7/2020 12:26:53 AM   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/76561198091552395
System.Exception: Response is null or empty. Added (+1) to RetryCount
   at IdleMaster.frmMain.CheckIfResponseIsNullWithRetryCount(String response)
   at IdleMaster.frmMain.<GetBadgePageAsync>d__33.MoveNext()
--- End of stack trace from

[2020-09-08 10:41] JonasNilson commented on #83
After looking into the Steamworks API there doesn't seem to be a way to simply change the status of a logged in user. I will have to dig some more to see if there are other possibilities.

[2020-09-10 11:45] MonsterVerde opened #114 "Dont work on Linux"
Trying to run through Wine, it runs but stuck in steam login screen, when i write my username & password, i accept it, and the cases go reset and nothing happens :/
maybe we need a linux version?

[2020-09-10 12:43] JonasNilson commented on #114
@MonsterVerde what version are you using?

Also you can give the Python version a try: https://github.com/jshackles/idle_master_py

[2020-09-10 15:19] JonasNilson commented on #113
Can you provide more information on what this does? I am not particularly familiar with EA Access and how it relates to Steam.

[2020-09-10 15:22] #110 closed

[2020-09-13 13:16] #99 closed

[2020-09-13 13:16] #105 closed

[2020-09-13 13:17] #104 closed

[2020-09-14 16:58] Felflamee opened #116 "Weird Bug; Can't Use Anything"
Hi, so I made an account just to report this; usually it works perfectly fine and I use it everyday but suddenly it stopped working.
The whole program is messed up, the characters and letters are out of place and I cannot use anything.

Here's what it looks like and the error logs:

![bruh](https://user-images.githubusercontent.com/71282082/93115556-a18fee80-f681-11ea-9ee5-526b2f6a9bdc.PNG)

[erro

[2020-09-14 22:00] 9ofe commented on #116
redownload it
and sign in again

[2020-09-14 22:16] Felflamee commented on #116
I already did, I deleted it and redownloaded it and it did not fix the problem

[2020-09-16 14:28] JonasNilson commented on #116
[code]

Based on the log information I think you can delete your IdleMaster-AppData-directory (`C:\Users\brand\AppData\Local\IdleMaster\`) and restart the application which should generate a fresh AppData-directory with the respective files.

[2020-09-16 14:29] #114 closed

[2020-09-18 00:31] Evocta opened #117 "EA Play trading cards not working"
Hey. I created an account to ask you this question. I think there is no easy fix for this but I just want to make sure.
Basically, with the new EA Play subscription system, you can get a ton of games which they state drop trading cards, however they somehow seem to have found a solution to idling.
I hope you manage to find a way around that, thank you for your work for the community.

[2020-09-18 19:54] stef240hz opened #118 "not give me cards"
![image](https://user-images.githubusercontent.com/71526675/93639551-dabdbb00-fa01-11ea-9869-99849a2bfa39.png)

[2020-09-18 19:57] JonasNilson commented on #118
@stef240hz https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2020-09-19 18:14] CanerKaraca23 opened #119 "Cannot signin"
When I try to login my account, steam login page always refreshing.

[2020-09-19 19:26] JonasNilson commented on #119
Try disabling Quick login under `File > Settings > Quick login`

[2020-09-19 21:00] CanerKaraca23 commented on #119
Worked, thanks!

[2020-09-21 18:23] Tydir commented on #119
had the same issue, I've disabled quick login and everything works fine!

[2020-09-21 22:35] #102 closed

[2020-09-24 13:19] ArthurFleao commented on #119
Facing the same issue here, even after disabling the quick login, after the popup saying 'Idle Master is saving your information' closes, i'm still not logged in.

I noticed this pops up in the `errors.log` file:
[code]
That may help solving the issue.

[2020-09-24 17:53] BackSurpriser opened #120 "Quick login automatically re-ticks itself"
When I click on log in, the pop-up says that javascript should be enabled, i tried to fix it by unticking quick login but quick login re-ticks itself.

[2020-09-27 05:56] #98 closed

[2020-09-29 15:56] JonasNilson commented on #117
Looks like EA Play makes the games count as "free-to-play" and therefore you don't get card drops from them:

- https://steamcommunity.com/app/1289670/discussions/0/2953755260412098275/
- https://steamcommunity.com/app/1289670/discussions/0/2948124408711149240/

[2020-09-29 23:16] Evocta commented on #117
Thank you for looking into it and thank you again for your work for the community.

[2020-10-01 20:34] Sauce-Kay opened #121 "where do i open it"
lol

[2020-10-02 19:02] Legend-117 commented on #31
I have the same issue even in the latest release i don't know what to do if anybody can help.

[2020-10-03 10:01] DumbJoe commented on #31
Thanks JonasNilson, I've come back to this issue and I see you've updated to 1.5. The quick login is optional(well actually it was enforced by default preventing me from being able to login as it would keep refreshing and my typing speed was too slow to type in both password and username before quicklogin does its thing in under a second), which is nice - however it doesn't seem to ask for steamgu

[2020-10-03 10:03] DumbJoe opened #122 "Steamguard code not being asked in v1.5"
Can't idle for cards if the program can't login, and it can't login because it doesnt ask for a steamguard code...

_Originally posted by @DumbJoe in https://github.com/JonasNilson/idle_master_extended/issues/31#issuecomment-703079259_

[2020-10-04 14:23] cztrollolcz commented on #120
Open IdleMaster.exe -> File -> Settings - untick Quick Login and relaunch. Worked for me

[2020-10-04 14:26] BackSurpriser commented on #120
nope, still doesn't work

[2020-10-06 06:48] dattabayo commented on #122
I downloaded it today and i am facing similar issue as @DumbJoe

[2020-10-10 16:51] DumbJoe commented on #122
Oh...I guess I'm not the only one....nice to know...

[2020-10-13 00:51] Much-Dig commented on #122
I have the same problem because of the QuickLogin, i put my nick and password quick and the Steam Guard opened but it closed fast

[2020-10-13 00:56] Much-Dig commented on #122
I went to configuration, and uncheck the QuickLogin option, i restarted IdleMaster and i could login.

[2020-10-17 21:32] #118 closed

[2020-10-17 23:57] mathii0202 opened #123 "V 1.6"
con la nueva version no me inicia sesion, ni poniendo mis datos ni con el inicio rapido!

[2020-10-18 07:10] JonasNilson commented on #123
@mathii0202 I'm not sure what you mean. Can you provide a screenshot of the issue?

[2020-10-18 07:13] JonasNilson commented on #122
It could be related to issues with Internet Explorer (which is the base for the C# browser window)

Can you try out the latest version and see if it helps?

[2020-10-18 07:14] JonasNilson commented on #121
Hopefully you figured it out, if not you can look here on how to get started: https://github.com/JonasNilson/idle_master_extended/wiki/Get-started

[2020-10-18 07:15] JonasNilson commented on #120
You can try the latest version and see how it works for you. The quick login setting has been removed, and now there's a button to attempt to log in using your steam client

[2020-10-18 07:16] JonasNilson commented on #119
In the latest version the quick-login has been reworked and is available through a button in the browser window

[2020-10-18 07:17] #113 closed

[2020-10-18 07:18] #97 closed

[2020-10-18 07:18] #96 closed

[2020-10-18 07:19] #95 closed

[2020-10-18 07:20] #77 closed

[2020-10-18 07:20] #68 closed

[2020-10-18 07:21] #88 closed

[2020-10-18 12:56] #117 closed

[2020-10-18 15:02] #119 closed

[2020-10-18 15:03] #116 closed

[2020-10-18 15:03] #121 closed

[2020-10-18 15:03] #120 closed

[2020-10-18 15:04] #122 closed

[2020-10-18 15:04] #83 closed

[2020-10-18 15:04] #34 closed

[2020-10-19 11:05] luxness opened #124 "Unable to connect my Steam Account with Idle Master."
When I login, yes i can login but it still says 'idle master is not connected with Steam.'

[2020-10-19 11:07] Jeadness commented on #124
I tried using v.1.5 version, i can login, but cant login in v1.6 version.

[2020-10-19 14:18] 0lm commented on #124
checked any firewall settings? with new software versions, usually new firewall rights need to be given.

[2020-10-19 14:41] JonasNilson commented on #124
@Jeadness

Can you provide a description on what part of the login fails?

Maybe a screenshot or two as well

[2020-10-19 15:12] Jeadness commented on #124
![image](https://user-images.githubusercontent.com/68141999/96469977-7d05d400-1236-11eb-838a-494e6eed322a.png)

![image](https://user-images.githubusercontent.com/68141999/96470053-91e26780-1236-11eb-8769-70a652c00a30.png)

sorry if its turkish

[2020-10-19 16:19] DumbJoe commented on #122
The latest version is 11....can't you have the browser window piggerback off firefox or chrome? Or some other browser?

[2020-10-19 16:36] DumbJoe commented on #122
huh....still not working on 1.6 for me.....any more ideas?

[2020-10-19 19:18] JonasNilson commented on #124
@Jeadness what happens when you try to sign in?

[2020-10-19 19:20] JonasNilson commented on #122
@DumbJoe Currently a lot of the code is based on the C# WebBrowser which is based on Internet Explorer.

You can try and use this method to log in: https://github.com/JonasNilson/idle_master_extended/issues/27#issuecomment-577597720

[2020-10-19 23:09] Denso95 commented on #124
Same problem here. The window closes after I click on "login" after a few seconds and nothing else happens.

[2020-10-20 04:54] Kastronoth commented on #124
I have the same problem too. I cannot log in at all, whether I choose the quick-login option or try to enter my credentials manually. The login window closes very quickly and doesn't save any information.

[2020-10-20 07:35] Jeadness commented on #124
when i enter my password & username, i can sign in, but it says idle master is not connected with steam idk how to explain

[2020-10-20 07:38] Jeadness commented on #124
So I'm using v.1.5 version, it works

[2020-10-20 11:48] Kastronoth commented on #124
Yes, I just reverted back to v.1.5 and it works fine.

[2020-10-20 18:11] JonasNilson commented on #124
@Jeadness @Kastronoth @Denso95

Do you get any output in your `error.log` ? I have not been able to reproduce the issue myself.

Also you can look into logging in using another method: https://github.com/JonasNilson/idle_master_extended/wiki/Not-able-to-login

[2020-10-20 19:10] #87 closed

[2020-10-21 05:42] Jeadness commented on #124
i dont see a file named error.log i dont know

[2020-10-21 23:45] felidira commented on #124
[error.log](https://github.com/JonasNilson/idle_master_extended/files/5419203/error.log)
i have the same issue, here is my error.log

[2020-10-22 10:47] Jeadness commented on #124
Yeah i think you guys should remake the v.1.6 version or idk

[2020-10-22 12:04] JonasNilson commented on #124
@Jeadness

It's just me here, and I need to find a way to reproduce the issue myself before I can fix it

[2020-10-22 12:46] Trismogestos commented on #124
[error.log](https://github.com/JonasNilson/idle_master_extended/files/5422863/error.log)

[2020-10-22 17:13] Mertk21 commented on #124
22.10.2020 20:08:16
System.NullReferenceException: Object reference not set to an instance of an object.
   at IdleMaster.frmBrowser.tmrCheck_Tick(Object sender, EventArgs e)
   at System.Windows.Forms.Timer.OnTick(EventArgs e)
   at System.Windows.Forms.Timer.TimerNativeWindow.WndProc(Message& m)
   at System.Windows.Forms.NativeWindow.Callback(IntPtr hWnd, Int32 msg, IntPtr wparam, IntPtr lparam

[2020-10-22 17:14] Mertk21 commented on #124
@JonasNilson
[error.log](https://github.com/JonasNilson/idle_master_extended/files/5424445/error.log)

[2020-10-26 12:57] sinncraft commented on #124
Same issue here, I enter my details and the window just closes after like 10 seconds with no response, I wish I could give you the error log but it does not produce one

[2020-10-26 14:52] Jeadness commented on #124
Somehow it worked for me now, idk.

[2020-10-26 15:56] Jeadness commented on #124
wait no it doesnt work anaymore

[2020-10-26 16:19] Jeadness commented on #124
and also, when i try to run v.1.5 it says its v.1.6 version but i can login.

[2020-10-27 04:51] infernushawk opened #125 "Minimizing Idle Master to system tray does not work"
I can send a screenshot if you would like, but essentially I have the box checked to minimize Idle Master to my system tray but it does nothing, even after minimizing or closing the application.

[2020-10-27 10:15] MyauAmerican opened #126 "Problem with one of the accounts"
Hey there. Thank you very much for your effort creating this program. When I used the program on my first profile, everything worked great. However, I can't say the same about my second account. I started the program one and a half hours ago, and I did not get any cards. This is strange, considering that on my first account, it took the program only 30 minutes to get all cards.  Can you help me? T

[2020-10-27 17:00] MyauAmerican commented on #126
Okay, now, the problem seems to be gone. But maybe there is a bug causing it. Thank you anyways.

[2020-10-27 17:11] JonasNilson commented on #126
What version of Idle Master Extended were you running?

[2020-10-28 06:30] Luckz commented on #113
EA Play (not Access) https://store.steampowered.com/subscriptions/ea is a subscription service that gives you app ID ownership as long as you keep paying for them.
I'm not sure if they still drop cards, but at launch they did. https://steamdb.info/sub/474127/info/ has no information about this being blocked; it could of course be blocked by now. https://steamcommunity.com/app/1289670/discussions/0

[2020-10-28 13:13] mrfroncu opened #127 "Cannot login on 1.5"
When I try to login on 1.5 login page refresh every few seconds so I cant type in password and auht code in time.

[2020-10-28 13:16] JonasNilson commented on #127
You can disable Quick-login under File > Settings > Quick-login

[2020-10-31 05:08] valko18 opened #128 "[Browser] Internet Explorer is dead in Win 10"
I don't have IE in my Windows 10 and Idle Master simply can't log in

[2020-10-31 17:52] JesWhite commented on #124
i cant join with 1.6 with my username and password.
i joined with 1.6 Quick-Join button.
And 1.4 working with username and password login.

[2020-11-01 11:55] Jeadness commented on #124
i recommend everyone to use 1.5 and if you cant login, use 1.4
i use 1.5

[2020-11-01 12:21] Klekots commented on #128
@valko18 try set default browser is chrome or mozila

[2020-11-01 12:54] valko18 commented on #128
On Win 10? It's already set by me here, I never used or use IE 11

[2020-11-01 17:27] JonasNilson commented on #128
Can you explain or show more of the scenario? The browser in Idle Master is based on the `WebBrowser` component in C#, which is based on Internet Explorer: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.webbrowser

[2020-11-01 17:27] #127 closed

[2020-11-01 17:30] JonasNilson commented on #125
I am not able to reproduce the issue myself. What version of Idle Master Extended are you using?

Currently if I have the setting enabled and minimize the window Idle Master will appear in my system tray:
- ![image](https://user-images.githubusercontent.com/5990550/97809893-3c637d00-1c70-11eb-976b-b6426a459969.png)

[2020-11-01 17:31] #123 closed

[2020-11-01 17:31] #126 closed

[2020-11-01 17:37] valko18 commented on #128
Have you heard that IE won't work in Win 10 anymore? Well, it's not working for me already...

[2020-11-01 17:42] JonasNilson commented on #128
@valko18 So I guess it depends on what version of Windows 10 you have.

What happens when Idle Master tries to open the browser window?

[2020-11-02 03:18] valko18 commented on #128
I have 2004 Win 10 version and what happens when I try to log in:
![idle master](https://user-images.githubusercontent.com/35011192/97826650-c3f2cf80-1cf4-11eb-931d-a8718f4e7edb.jpg)

Thanks, I'll try cookie solution!

[2020-11-03 20:40] Robstersgaming opened #130 "How to idle a game on a different steam account?"
For example I want to idle csgo on my alt account while playing on my main

[2020-11-04 21:30] JonasNilson commented on #130
From what I know of the code base of Idle Master that's not possible through the application itself

[2020-11-04 21:31] JonasNilson commented on #128
@valko18 That sure looks odd. I might have to rework the browser window to tackle this issue in a future release

[2020-11-05 04:27] valko18 commented on #128
Maybe WIndows 10 tries to shut IE down and replace it with Edge?

[2020-11-08 18:39] JonasNilson commented on #124
@JesWhite @luxness @sinncraft @Kastronoth @Trismogestos

If you are able to test out the pre-release of v1.7 I would appreciate it greatly: https://github.com/JonasNilson/idle_master_extended/releases/tag/v1.7-pre-release

[2020-11-08 18:41] #125 closed

[2020-11-09 11:58] #130 closed

[2020-11-09 15:13] Katakuari commented on #128
@valko18 even in a new, fresh Windows 10 20H2 installation, the Internet Explorer 11 feature should be enabled. Maybe check if it is enabled and "reinstall" (uncheck > OK > restart PC > check > OK > restart PC) it?
I'm not really sure if that would actually help though.
(also sorry about the german screenshots, I wasn't able to get an english iso)

You should be able to find it by searching someth

[2020-11-10 18:38] AlanRubioESP commented on #124
In the new version 1.7 preliminary it gives me the wrong password when I start with my steam account, I don't know if someone else happens to him

[2020-11-11 19:20] luxness commented on #128
install internet explorer 11 if you did not already try doing it

[2020-11-11 19:21] luxness commented on #128
if you already have ie 11, try reinstalling it

[2020-11-13 02:28] 0mdan opened #132 "idle master bug"
i try to skip this game but its dosent work. Available game working 10 hours but dont give any cards and i cant skip can you fixed pls.

[2020-11-13 20:30] JonasNilson commented on #124
Can you explain a bit more around this in a separate issue?

[2020-11-13 20:31] JonasNilson commented on #132
What idling mode do you have active in your Settings and what game have you idled for 10 hours?

Also can you provide a screenshot that shows the issue?

[2020-11-13 22:21] AlanRubioESP commented on #124
Yes, sorry if I did it in the wrong place

[2020-11-13 22:21] AlanRubioESP commented on #124
Yes, sorry if I did it in the wrong place

[2020-11-15 06:52] valko18 commented on #128
Thanks, not IE 11 works, but Idle Master doesn't :-)

[2020-11-16 15:41] JonasNilson commented on #128
What version are you running, and what isn't working?

[2020-11-16 16:12] valko18 commented on #128
Already wrote here
https://github.com/JonasNilson/idle_master_extended/issues/128#issuecomment-720214250

IE 11, Idle Master 1.6, Win 10 v2004

[2020-11-18 01:21] thexheo opened #133 "hi! need help"
No puedo iniciar sesión con ninguna versión, ¿será debido a la verificación en dos pasos?

[2020-11-18 01:22] thexheo commented on #133
i cant me log in with any version, will it be due to two-step verification?

[2020-11-18 02:35] sdtptj opened #134 "如图"
![image](https://user-images.githubusercontent.com/47602367/99475564-c2c6d100-2989-11eb-8a68-ac681b119bb3.png)
![image](https://user-images.githubusercontent.com/47602367/99475625-e8ec7100-2989-11eb-8e4a-09634c09bb86.png)

[2020-11-18 02:41] #134 closed

[2020-11-18 05:04] boss-subham opened #135 "windows 10 steam login failed"
cant login into my steam account even after repeated trails.

[2020-11-18 05:36] Techmo79 commented on #135
Yeah i have the same problem

[2020-11-18 07:16] notslipjack commented on #135
the cookie method (or [advanced authentication](https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods)) works.

[2020-11-18 10:26] #133 closed

[2020-11-18 12:39] lugum commented on #135
it stopped working since today and the cookies method does not work, it says something like login failed, try again.

[2020-11-18 15:44] Qu3re opened #136 "Cannot log in with steam to IdleMaster"
Hello, i am not able to log in to IdleMaster with my steam. Could you help me somehow?

[2020-11-18 17:33] luc4sv commented on #136
I have the same problem, I've done everything, old versions and nothing. It was dropping a lot, but it happened.

[2020-11-18 17:43] Miademora commented on #136
Same here. was working yesterday.
No Windowsupdate or similar.
All i see is a request with no reply when i try to sign in.
High Resolution Date & Time:	18.11.2020 18:41:47,9393024
Event Class:	Network
Operation:	TCP Receive
Result:	SUCCESS
Path:	mypc:28467 -> a23-63-121-119.deploy.static.akamaitechnologies.com:https
TID:	0
Duration:	0.0000000
Length:	31
seqnum:	0
connid:	0

[2020-11-18 18:46] arrow2514 commented on #136
Hello, i am not able to log in to IdleMaster with my steam. Could you help me somehow?

[2020-11-18 18:47] milhouz commented on #136
In the same boat here tried a few different versions and all at the login page do nothing once hitting the Sign In button.

[2020-11-18 18:53] arrow2514 commented on #136
yes i agree with that milhouz

[2020-11-18 18:53] arrow2514 commented on #136
Can anyone help us

[2020-11-18 19:02] milhouz commented on #136
@arrow2514 Chill out, this issue was reported and it will take the devs a bit to get around to looking at the issue since this isn't their full time job.

[2020-11-18 19:05] milhouz commented on #136
@arrow2514 @Qu3re I do have a work around for the time being reading through the docs. https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods is the page that gives you the instruction to login via Cookies in your web browser.

[2020-11-18 19:21] arrow2514 commented on #136
I tried it didn't

[2020-11-18 19:23] milhouz commented on #136
Mine worked first try so not sure what is up. Are you sure you pasted in the correct SessionID value and cookie value.

[2020-11-18 19:27] arrow2514 commented on #136
Thank you. I got in wrong so I couldn't get in

[2020-11-18 19:27] arrow2514 commented on #136
Şimdi rahatça kullanabilirim

[2020-11-18 20:56] Blanco27 opened #137 "[Interface] Incorrect Darkmode color"
![IdleMasterExtended_QQq8lvMTu7](https://user-images.githubusercontent.com/56546322/99586816-85456080-29e8-11eb-9fda-7b83edbef4c2.png)

As you can see in the screenshot the label `Derzeit aktives Spiel` is using the wrong fontcolor.

[2020-11-19 00:21] luc4sv commented on #136
Thank You so much bro, I will use it like this until they fix it, but thank very well.

[2020-11-19 00:39] Miademora commented on #136
For me all 3 loginmethods dont work anymore. steamparental doesnt show up as a value in my cookie though.

[2020-11-19 04:58] gore99 commented on #136
hello, have been using v1.5 for months, just today i logged off my main to access my alt and when coming back to my main i can log into steam using idle master.exe, i saw v1.7 had been released so i gave it a try and i still cannot get the idlemaster.exe to login to my steam, haven't changed any passwords, when i put in my details on v1.7 and hit enter nothing happens, same goes for quick login. t

[2020-11-19 05:08] luc4sv commented on #136
But steamparental doesn't even appear, and you can login without it. Just with seassonid and steamlogin. If you get an error message when you click update, just close and apply it.

[2020-11-19 05:10] luc4sv commented on #136
that's what we're discussing, try login using the id's for the cookies and be happy: D
tutorial: https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods

[2020-11-19 07:46] Miademora commented on #136
doesnt work here. i tried setting both values and then accept but it doesnt login
even setting the values manually in the .config file doesnt work

sometimes i get the following error in the error.log but dont know if its related
[code]

[2020-11-19 07:52] Miademora commented on #136
i have 2fa enabled
i tried logging in to steam website with internet explorer 11 and it doesnt work. maybe thats why the popup doesnt work?
second i logged in to steam with a new browsersession, going through 2fa and now it works with manually entering sessionid and steamloginsecure. maybe my session was expired? it was working in the browser all the time without logging in again

[2020-11-19 12:19] gore99 commented on #136
i was able to get idle master to sign into my account for v1.7 using account cookies, would recommend using that method considering its fairly easy and only needs to be done once :D

[2020-11-19 20:02] luc4sv commented on #136
Yes! ;D

[2020-11-19 20:03] luc4sv commented on #136
It's crazy, never seen it before

[2020-11-20 09:41] IceCrunk commented on #137
ty

[2020-11-20 18:14] fk-826 opened #138 "Blacklisting games doesn't work"
Hey, Im not sure if its just me but the blacklisting option doesn't seem to work for me.I went into the settings and then blacklisting, it asked for the ids of the game so i googled the game's steam ids and added a few there and saved it.But later on it still was idling those games that i had blacklisted.What am i missing?

[2020-11-20 22:21] Gonza587 opened #139 "@Jeadness"
@Jeadness

Can you provide a description on what part of the login fails?

Maybe a screenshot or two as well

_Originally posted by @JonasNilson in https://github.com/JonasNilson/idle_master_extended/issues/124#issuecomment-712213787_

In my case, the program does not load me directly after putting my data

[2020-11-21 15:58] ananashe commented on #139
I also have this problem for 2 days :(

[2020-11-21 21:13] JonasNilson commented on #138
Not sure to be honest. I will have to look into it when I get the time.

[2020-11-21 21:16] JonasNilson commented on #139
I believe this is caused by the browser window being based on Internet Explorer.

I tried using plain Internet Explorer and the login button does nothing:
![image](https://user-images.githubusercontent.com/5990550/99887735-1b76c200-2c47-11eb-9ac6-acde7e7d90de.png)

[2020-11-21 21:27] JonasNilson commented on #136
As some of you have mentioned the login issues seem to be connected to the browser window being based on Internet Explorer.

https://github.com/JonasNilson/idle_master_extended/issues/139#issuecomment-731637786

[2020-11-21 21:28] JonasNilson commented on #137
Thanks for the feedback. I will look into the textbox font and color.

[2020-11-21 22:40] AuN3T opened #140 "Basically it doesn't log in when it did before. Besides that, it doesn't allow me to unlock every card for every game. More bellow."

[2020-11-21 22:41] #140 closed

[2020-11-21 22:42] AuN3T commented on #140
XD pressed enter by error hahah

[2020-11-21 22:54] AuN3T opened #141 "Basically it doesn't log in when it did before. Besides that, it doesn't allow me to unlock every card for every game. More bellow."
Recently I downloaded an instance of the 1.7 build, and it worked fine, although it just detected a few games of my hole library, not everyone. It confused me, but I thought it was a momentary glitch or something, and proceeded to unlock the cards it allowed me to unlock. Here comes the other rarity, and it is that I didn't get every card for every game it idle. Idk if that's how it works, but it

[2020-11-22 04:40] tonelesspanic opened #142 "Can't stay logged in"
I'm using the cookies method to log in because the browser doesn't do anything when I click the sign in button, but when I add my details it logs in for a second and then instantly logs out. I've tried v1.7, v1.5 and v1.3.
In v1.7 I can log in but it won't register that steam is running, and in 1.5 and 1.3 it will register that steam is running but wont stay logged in.

In my error log for 1.5 I g

[2020-11-22 19:47] JonasNilson commented on #141
You typically are only eligible to get around half the cards for each game: https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2020-11-22 23:10] HSoeren commented on #136
Same, cannot log in, i enter my username and click on the password field and it clears all fields

[2020-11-26 08:01] MrKiyan opened #143 "Login to steam failed !"
Hello, it's more than 1 week i cant login to steam with idle master
i tried automatic login, and also i typed
all thing i can see in error file is this
2020-11-23 8:15:47 AM
System.NullReferenceException: Object reference not set to an instance of an object.
   at IdleMasterExtended.frmBrowser.tmrCheck_Tick(Object sender, EventArgs e)
   at System.Windows.Forms.Timer.OnTick(EventArgs e)
   at Syst

[2020-11-26 18:09] JonasNilson commented on #143
Try the Cookie login method: https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods

[2020-11-26 18:10] JonasNilson commented on #142
You can ignore the steam status under Settings

[2020-11-26 18:26] #141 closed

[2020-11-26 18:28] JonasNilson commented on #138
The blacklist seems to work for me, but only after I have restarted the application.

[2020-11-26 18:31] JonasNilson commented on #136
What version are you using? https://github.com/JonasNilson/idle_master_extended/releases

[2020-11-26 19:53] fk-826 commented on #138
Okay thanks will try retarting it

[2020-11-26 23:57] tonelesspanic commented on #142
I have that ticked but nothing happens (I have gotten 0 cards)

[2020-11-27 18:30] Davii10 opened #144 "He tells me that I don't have any chroma to farm, but actually I do"
When I turn on the application it says that I no longer have chroma to farm, but I look at steam and I still have, what do I have to do to solve it?

[2020-11-27 18:32] Davii10 commented on #144
I mean, in steam I see that I am missing several chromas in several games and when I installed the application it farmed 4 cards and stopped working

[2020-11-27 18:37] JonasNilson commented on #144
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2020-11-27 18:39] JonasNilson commented on #142
Can you provide a screenshot of the application to show the issue?

[2020-11-28 08:49] tonelesspanic commented on #142
![image](https://user-images.githubusercontent.com/4241258/100497942-cf7dcd00-31b2-11eb-986b-92dad1d92e7a.png)

[2020-11-28 08:49] tonelesspanic commented on #142
![image](https://user-images.githubusercontent.com/4241258/100497959-e1f80680-31b2-11eb-94af-415029e9ac93.png)

[2020-11-28 11:00] malekbkm opened #145 "Not running any game"
Hello there, i'm having an issue while running idle master, i haven't used to program a long time ago (about 2years) so i'm not quite sure if i'm missing any steps or something, the errors that are shown are :
28/11/2020 11:51:25 AM   frmMain -> SortBadges -> The method (mostvalue) resulted in an exception
System.Net.WebException: The remote name could not be resolved: 'api.enhancedsteam.com'
   a

[2020-11-28 11:02] malekbkm commented on #145
Here's what it looks like on the IDLE MASTER

![image](https://user-images.githubusercontent.com/75164488/100514005-97a26580-3171-11eb-861d-ea1fd8a7d34e.png)

[2020-11-28 13:31] JonasNilson commented on #145
Can you verify that you have card drops remaining?

https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2020-11-28 14:46] malekbkm commented on #145
Omg, i feel so dumb that i didn't check that, I'm so confused tbh lol, i just collected some free steam keys yesterday so i thought that there are so many cards to collect, Eventually there are not.
Thank you for the reply :D
![image](https://user-images.githubusercontent.com/75164488/100518283-e4e1ff80-3190-11eb-836f-cc190778a425.png)

[2020-11-28 20:54] JonasNilson commented on #145
@malekbkm That is very common. It's not the most intuitive reward system and took time for me to figure out myself. Just finding information about it is a hassle.

[2020-11-29 12:36] #145 closed

[2020-11-29 19:29] JonasNilson commented on #142
Interesting. The actual Steam status is fetched using Steamworks and calling `SteamAPI.IsSteamRunning()` so I guess that fails to begin with for some reason.

I am not able to reproduce the issue myself and if the setting for ignoring the Steam client status is really active it should result in a string with the text: 'Steam client status ignored'

* ![image](https://user-images.githubusercontent.

[2020-11-29 23:33] tonelesspanic commented on #142
IME is running from C:\idle_master_extended_v1.7-pre-release,
Steam is running from C:\Program Files (x86)\Steam

[2020-11-30 20:45] #135 closed

[2020-11-30 20:45] #132 closed

[2020-11-30 20:45] #138 closed

[2020-11-30 20:45] #139 closed

[2020-11-30 20:46] #143 closed

[2020-11-30 20:46] #144 closed

[2020-11-30 20:48] JonasNilson commented on #142
Since I can't reproduce the issue myself, maybe you can look into some of the common solutions: https://steamcommunity.com/groups/idlemastery/discussions/0/133257636766989675/

[2020-12-09 04:18] ayyo420 opened #149 "[Enhancement] Python version"
**Python** version is **missing** from this fork and it would be nice to see **Python** version of the _steam idler_ because then  u  can ran the script on your **VPS**(_Virtual Private Server_) and u **dont** have too run ur pc **0/24**.

[2020-12-11 17:28] arrow2514 opened #150 "idle master card not falling"
I wait 5 6 hours the card is not falling ( CAN YOU HELP ME )

[2020-12-16 16:18] xXTIKYXx opened #151 "hola . no me aparecen todos los juegos para farmear los cromos"
hola  , buenas tardes  como se puede hacer para agregar juegos , ejem  yo quiero farmear de juegos como dark soul 3, for honor , etc , pero no me aparecen  en la lista , desde ya muchas gracias

[2020-12-18 07:07] dohvaz opened #152 "Not necessarily an issue"
I like using Idle Master to simply idle games, not for the badges. I had it set to idle one game and upon stopping it, steam didnt count most of the hours it was idle. It went from 150 or so down to 112. Just curious as to why or if theres a way to get it to "anti-afk" where it resets the idle after a certain amount of time like 6 hours or so.

[2020-12-19 12:09] lukako2 opened #153 "quick login not working"
when i press to sign in it works but, when i press quick login it shows my account but its not logging in

[2020-12-23 02:40] Masitaa commented on #151
Si no te aparecen es porque ya no hay cromos que farmear, saludos.

[2020-12-23 10:32] jake59032 opened #154 "doesn't give me the cards but it tells me I have and it's true help"
no me da las tarjetas y compre muchos juegos con cromo nose que le pasara  ayuda

[2020-12-23 12:56] JonasNilson commented on #154
What games do you have, and how many card drops are remaining? Provide some screenshots that show the issue.

https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2020-12-23 22:34] tambu22 commented on #154
Hi @JonasNilson I've the same problem. here is a screen of the remaining cards.

I've tried with all in parallel (31 games) but got 0 drops after almost 2 hs.

Now I'm testing with version 1.5 (it's working for a friend) and 1 at a time.

https://prnt.sc/w8r3vk

https://prnt.sc/w8r438

[2020-12-24 02:25] Alienfuckt opened #155 "If I pause idle it will pause downloading game on steam"
why?

[2020-12-24 04:44] LenkaPolocka commented on #154
Steam changed the policy of cards dropping. Drop being unlocked only after you have played 3 (previously 2) hours in a specific game.

BTW. @JonasNilson is there any possibility for You to update this rule (2h -> 3h) in the next release?

[2020-12-24 18:36] Bluestacker opened #156 "[Login / Logout] steam randomly disconnecting after a while"
Hi, sometimes idle master randomly disconnects from steam after a while, i have all default but minimize to tray enabled, using quick login script..., i just turn "shutdown windows when done" and go afk, but after some time like 1h or something steam disconnects and i stop getting cards, this even happens when im playing a game

(its only idle master, my steam app doesn't disconnect)

[2020-12-24 20:18] Silacoplayz opened #157 "So it always just says "idling complete" and if i try again it still the same thing so it no work advise?"

[2020-12-24 20:20] Silacoplayz commented on #157
advise?

[2020-12-25 11:09] RafalPolak commented on #153
I've got the same, but when I try to select something for example items in the window then it closes and my account connected.

[2020-12-26 03:24] tambu22 commented on #154
@JonasNilson or even better make it configurable.

[2020-12-26 08:23] hoomanrajabi123 opened #158 "crashing when update game status"
![unknown (9)](https://user-images.githubusercontent.com/62925064/103148052-e3482f00-4770-11eb-913c-a2831b994718.png)

[2020-12-28 21:13] blain-e opened #159 "Client saying steam is not running, was working before"
I have tried logging out and back in on both steam and the client and it is stuck on "Steam is not running (Lastest release)" It was working on Release 1.7

[2020-12-31 03:04] ygtsrgs opened #160 "I can't see games running in my steam"
![idlemaster](https://user-images.githubusercontent.com/76800007/103392185-a9d74100-4b2d-11eb-92c9-c4c4358a2d64.PNG)

İdlemaster running but I can't take card and when I was look steam game seems not working

[2020-12-31 03:30] ygtsrgs commented on #160
Oh! Sorry. We should play 3 hour for take cards

[2020-12-31 03:30] #160 closed

[2021-01-02 11:19] link2110 commented on #156
I also have this issue, just did a new install on a fresh windows install today.  I've had to sign in at least 3 or 4 times in the last two hours.

[2021-01-05 09:13] w2131978 commented on #159
same problem,. I uninstall steam and reinstall it. now it's ok

[2021-01-16 11:47] Benjio-Ward opened #161 "Causing PC crashes"
When running Idlemaster on windows 10 and leaving it in the background to run while I use my PC sometimes if I do anything like load into a game or even fullscreen a youtube video my screens go black and my PC reboots, I done a fresh install of windows and Idlemaster but the crashing problem continues, however if I do not have idlemaster downloaded this problem never occurs.

[2021-01-17 14:24] #161 closed

[2021-01-24 13:44] Beridok commented on #45
The issue is when you launch Steam with Admin priviledges and Idle Master Extended without them.

Run both apps without or with Admin priviledges.

[2021-01-25 14:58] MrL0G1C opened #162 "[Browser] Login web page is broken"
Valve have wrecked it again, maybe code could be copied from ASF for more reliable logins. - MrL0G1C

[2021-01-27 20:20] JonasNilson commented on #162
Sounds like I need to look into it soon

[2021-01-27 20:21] JonasNilson commented on #159
@blain-e You can disable the steam status check in the settings ("ignore Steam status")

[2021-01-27 20:21] JonasNilson commented on #158
@hoomanrajabi123 is this still an issue?

[2021-01-27 20:30] JonasNilson commented on #157
Can you confirm that you have card drops remaining for those specific games?

[2021-01-29 08:40] Areopagit commented on #162
JonasNilson, please, fix it.

[2021-02-01 14:46] psyco752 commented on #159
Good Jonas even if you do that it still does not work, at least it does not work for me, I hope you can repair this failure even with quick login I can not get it to work, the farm is frozen.

[2021-02-01 19:52] JonasNilson commented on #155
After looking into this the best solution is to disable the feature in Steam: https://support.steampowered.com/kb_article.php?ref=2606-RSDG-1296

[2021-02-01 19:52] #155 closed

[2021-02-02 15:10] Heathcore commented on #162
same error bro

[2021-02-02 20:30] owueigyuiogwr opened #163 "Farming hours on steam"
If I have several IdleMaster windows open will it farm hours faster?

[2021-02-02 21:27] ZeskOficial opened #164 "This is safe to use?"
I can get a VAC ban or any type of punishment in my account, thanks for your tope to reply/read this

[2021-02-02 23:54] JVSkellington commented on #162
Temporary solution : https://steamcommunity.com/groups/idlemastery/discussions/0/1697168437864920721/

[2021-02-06 03:00] FliaXz commented on #163
No, might even take longer.

[2021-02-06 03:06] FliaXz opened #165 "Just a question, does the game need to be installed or can you just run it without them installed?"

[2021-02-06 05:32] hoomanrajabi123 commented on #158
no my problem solved

[2021-02-06 07:10] JonasNilson commented on #165
You can run idle master without having them installed 🤘🏻

[2021-02-06 07:11] #158 closed

[2021-02-06 11:08] zakuma666 commented on #164
using this every now and then for a few years now. Never had any problem. Dont use it and play maybe.

[2021-02-06 19:00] MarceloBrazolim opened #166 "[Idle mode] spam bug (mid level priority)"
been using for years the non extended version and came across this one recently as i didn't know the jshackles version was discontinued.

been using for 5 hours at this moment and was running in the "idle games simultaneously up to 2 hours, then individually" settings for this time, and a lot of friends complained about me "changing games each 2 seconds", at the point. I started the idle master at

[2021-02-06 20:40] #165 closed

[2021-02-06 21:13] JonasNilson commented on #164
You will not get a VAC ban as Idle Master: https://steamcommunity.com/groups/idlemastery/discussions/0/1470840994972378287/

But you may experience issues (not able to connect to servers) if you play VAC games and have Idle Master running: https://support.steampowered.com/kb_article.php?ref=2117-ilzv-2837

[2021-02-06 21:13] #164 closed

[2021-02-06 21:21] JonasNilson commented on #162
I haven't had much time for this project, but is this still an issue?

I can use the 1.7 version myself (both manual login and the 'quick login' button):

- ![image](https://user-images.githubusercontent.com/5990550/107129941-6f4d8a80-68c9-11eb-9f5b-52a11840bb9a.png)

[2021-02-06 21:22] JonasNilson commented on #153
Is this still an issue? I haven't managed to reproduce the issue myself with version 1.7

[2021-02-06 21:26] JVSkellington commented on #162
![Screenshot_9](https://user-images.githubusercontent.com/78332186/107130037-bf682500-68a8-11eb-81ae-268864afd0b5.png)
![Screenshot_10](https://user-images.githubusercontent.com/78332186/107130038-c0995200-68a8-11eb-9127-5a0873353e57.png)

[2021-02-06 21:40] MrL0G1C commented on #162
Tried on 2 different PCs, problem occurs on 1 PC and not the other, I suspect it's something to do with IE version.

Doesn't work: IE V11.0.4
Does work: IE V11.0.9 (KB3049563)

Maybe installing KB3049563 will fix the issue.

[2021-02-06 21:57] MrL0G1C commented on #162
Weird, works from France, doesn't work from UK.
Solution, use a VPN.

[2021-02-06 22:00] MrL0G1C commented on #162
gdfghdfgh

[2021-02-06 22:02] MrL0G1C commented on #162
I can't edit or delete comments, disregard the VPN one.

[2021-02-06 22:22] MrL0G1C commented on #162
Going to IdleMasterExtended Menu > File > Settings > Padlock (bottomLeft)
Copying the data from cookies for store.steampowered.com to the 1st and 2nd boxes
Worked.

[2021-02-06 22:30] MrL0G1C commented on #162
The working page was only working because it was cached, the reason the login page isn't working is because Valve have updated the web-page and it no longer works in Internet Explorer. Grabbing the Cookie data after logging in steam in some other browser is currently the only option.

[2021-02-06 23:26] deividbreck opened #167 "@JonasNilson"
System.NullReferenceException: Referência de objeto não definida para uma instância de um objeto.
   em IdleMasterExtended.frmBrowser.tmrCheck_Tick(Object sender, EventArgs e)
   em System.Windows.Forms.Timer.OnTick(EventArgs e)
   em System.Windows.Forms.Timer.TimerNativeWindow.WndProc(Message& m)
   em System.Windows.Forms.NativeWindow.Callback(IntPtr hWnd, Int32 msg, IntPtr wparam, IntPtr lpara

[2021-02-07 00:37] BatyGamer opened #168 "[Application] for some reason IdleMaster stoped working and the window looks like this"
![idle](https://user-images.githubusercontent.com/78668528/107133075-72de1300-68c3-11eb-9288-77700447eb93.PNG)

[2021-02-07 08:07] JonasNilson commented on #162
@MrL0G1C Alright. I must've had a cached page myself. Thanks for the research 💪🏻

[2021-02-12 18:51] Kingpandaree commented on #157
i have the same problem, it says idling complete and wont let me continue idling after

[2021-02-13 03:19] Kingpandaree commented on #157
actually im retarded, i just realized i cant get any more cards

[2021-02-13 08:44] JonasNilson commented on #168
@BatyGamer what version of Idle Master are you running? It looks like the application is in some weird state. Do you have any errors in your `error.log`?

[2021-02-13 08:44] JonasNilson commented on #167
@deividbreck How does this error affect you? Some screenshots of the application would help

[2021-02-13 08:49] JonasNilson commented on #163
@owueigyuiogwr The hours are counted by the steam servers, so Idle Master will not be able to "speed it up". Idling multiple games simultaneously will however gain you a lot of hours in total

[2021-02-13 08:51] JonasNilson commented on #159
@psyco752 Can you provide more info of the "failure"?

[2021-02-13 08:53] JonasNilson commented on #150
@arrow2514 Is this still an issue for you?

[2021-02-15 10:34] Vinedelux opened #169 "i can drop more cards but idle master think i have all cards"
my cards are not full and idle master think its full idk

[2021-02-15 10:41] utkarsh2710 opened #170 "Can't switch to different game"
How do I switch to another game? I have recently purchased a game and I don't want to expire my 2 hr return window without playing it once. I tried to blacklist the game but nothing changed.

[2021-02-15 15:45] JacProsser opened #171 "window to refresh steam login keeps popping up"
![Screenshot_1](https://user-images.githubusercontent.com/48368615/107967234-c7a91a00-6fa4-11eb-84a3-896a1acb294f.png)

[2021-02-16 04:22] #170 closed

[2021-02-16 07:31] Fasquito opened #172 "idle master extended dont drop nothing"
idle master doesn't drop anything and doesn't count the hours in the games, how do I solve it?
![image](https://user-images.githubusercontent.com/79133856/108031565-d678e680-700f-11eb-9456-b7c256ff2b7f.png)

[2021-02-16 15:46] souvikcr7 commented on #172
well it happend to me also...nothing drop

[2021-02-16 15:50] souvikcr7 commented on #150
I wait 3-4 hours the card is not falling ( CAN YOU HELP ME )

[2021-02-16 15:56] JonasNilson commented on #172
@Fasquito Idle Master extended can't make the cards drop. This is fully controlled by Steam.

It should start dropping between 2-3 hours so that you don't get cards and then do a refund of the game, but if that's not the case and your hours have been counted by Steam you should get in contact with them.

[2021-02-16 15:57] JonasNilson commented on #171
That's the first time I've seen this issue. Can you provide more information on when this happens and how often?

[2021-02-16 15:59] JonasNilson commented on #169
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2021-02-16 15:59] JacProsser commented on #171
well it started happening as soon as i started the program and then it would constantly keep doing it. however right now and since i've made this issue it has decided to stop bringing up this page

[2021-02-16 16:29] souvikcr7 commented on #172
Actually my was dropping, but it suddenly stopped.....
After exit i try to sign in another account, but it also doesn't work

On Tue 16 Feb, 2021, 9:26 PM Jonas Nilson, <notifications@github.com> wrote:

[2021-02-16 22:57] Fasquito commented on #172
i think that the problem is not steam because it dosent count the hours in the game, i have played 2,9 hours the scapist and i had the idle master 7 hours open and the hours in the scapist still the same

[2021-02-17 05:19] souvikcr7 commented on #172
So how to fix it?? Card are not dropping from new account too

On Wed 17 Feb, 2021, 4:27 AM Fasquito, <notifications@github.com> wrote:

[2021-02-17 06:52] JonasNilson commented on #172
@souvikcr7 can you provide a screenshot of your badge page?

https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2021-02-17 08:22] Vinedelux commented on #172
just find out you have to wait 7 days to drop more cards i made some research on google

[2021-02-17 08:22] #169 closed

[2021-02-17 08:43] souvikcr7 commented on #172
cannot find where to give screenshot

On Wed, Feb 17, 2021 at 1:52 PM Vinedelux <notifications@github.com> wrote:

[2021-02-17 08:44] souvikcr7 commented on #172
like no card is dropping

On Wed, Feb 17, 2021 at 2:12 PM Legal network <souvik.das.cr7@gmail.com>
wrote:

[2021-02-17 17:09] JonasNilson commented on #172
@souvikcr7 You can paste (CTRL+V) a screenshot directly in this GitHub issue

[2021-02-17 17:09] JonasNilson commented on #172
@Vinedelux Can you provide a source of that information? It could come in handy when helping others

[2021-02-17 17:22] JonasNilson commented on #166
That sounds like the "Fast mode" was activated. https://github.com/JonasNilson/idle_master_extended/wiki/Fast-mode

That should not be the issue as far as I understand. The list of games to idle is based on the games found on your badge page and the card drops remaining, not the hours. The hours do count when checking if it has passed 2 hours.

- https://github.com/JonasNilson/idle_master_extended

[2021-02-17 17:22] #163 closed

[2021-02-18 00:46] MarceloMarchezini commented on #166
It was not. print of settings for idle master on 2/6/2021:

![image](https://user-images.githubusercontent.com/22665661/108286153-549bd100-7167-11eb-9df9-ef90c997a845.png)

Maybe it has something to do with @deividbreck 's error?:
[code]
Still unsure what it affects tho.. but found the same log on error.log

I'm running on Win 8.1 v6.3 b9600 / indle master v1.7 c801eaf

[2021-02-19 10:33] Bara91 commented on #153
Hey,

I faced the same issue. I came from 1.5 where whos no problems. The workaround to klick one something like "Level" work. Can i give you some information to fix it?

[2021-02-21 14:59] uzdiiilekk opened #173 "Help me please"
i have this aplication maybe 6 months back and it working nice but now i download it again but for other steam account and it say me this (idling complete. no more card drops available)
![image](https://user-images.githubusercontent.com/73359998/108628891-878edf00-745d-11eb-8111-7e8ef01e0003.png)

can you help me please ?

[2021-02-21 15:46] tiago615 commented on #159
i still have the same problem  and i uninstall steam and reinstall it. Any solution?

[2021-02-22 22:27] alperenyild1z opened #174 "Why don’t drop some of the cards?"
I bought 28 new games and there are almost 210 cards but idle master download just 127 of them? Why don’t download all of them?

[2021-02-23 06:06] JonasNilson commented on #174
You can find some information about card drops here: https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2021-02-23 06:08] JonasNilson commented on #173
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

If your account don't have card drops remaining there is not much Idle Master Extended can do about it

[2021-02-24 19:39] #142 closed

[2021-02-24 19:39] #124 closed

[2021-02-24 19:44] #150 closed

[2021-02-24 19:45] #151 closed

[2021-02-24 19:46] JonasNilson commented on #153
Feel free to give information on how to fix it. Better yet you can open a pull request to this repository

[2021-02-24 19:47] #167 closed

[2021-02-24 19:47] #157 closed

[2021-02-25 17:51] edoliem opened #176 "Multiple idle"
Is there a way to multiple idle using this?

[2021-02-25 17:54] JonasNilson commented on #176
Can you explain in more detail what you're trying to achieve?

Multiple what? Accounts?

[2021-02-27 04:49] Kiuryx opened #177 "Says Complete and No trading cards available, when i dont have the cards on all the games."

[2021-02-27 06:47] JonasNilson commented on #177
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2021-02-27 15:33] Kiuryx commented on #177
It short term, just spend more money on steam..

[2021-03-08 01:04] ANGELO121234 opened #178 "[Browser] error message in log file"
![Screenshot_1](https://user-images.githubusercontent.com/80230075/110262047-1be65f00-7f91-11eb-8542-170e11756203.png)

Wha i do?

[2021-03-08 17:30] JonasNilson commented on #178
@ANGELO121234 how does this error affect you?

[2021-03-08 20:14] RobtouCarlinhos commented on #178
I have the same case. When I try to log in with my steam acount, an extra note block is created in the folder of idle master. The name of that file is error and it contains the same message as @ANGELO121234. That doesn't let me sing in with steam manually or even with the quick login, and I couldn't start idle. i'm running it on windows 8.1 in 1.7 version of IM.  I already don't now the solution f

[2021-03-12 10:52] PCPld opened #179 "Idle Master is no longer working for me "Steam is not running" "Idle master is not connected""
Hi, i've been using idle master every day, and now today it no longer seems to work for me.
Tried pressing sign in etc and nothing seems to work, I've exited and tried running again multiple times but still doesnt work!

![Screenshot_35](https://user-images.githubusercontent.com/80519585/110930417-feaee900-8320-11eb-88db-cd3c28a1de94.png)
![Screenshot_36](https://user-images.githubusercontent.com/

[2021-03-12 11:55] PCPld commented on #179
2. Delete Idle Master's Application Data

Close Idle Master

Go to:
C:\Users\%USERPROFILE%\AppData\Local\IdleMaster
There's a folder like 'IdleMaster.exe_Url_3u0cjrx5her2jkf5301qgonqcd1bjdkh'
Delete it.

Start Idle Master.

Note: "AppData" is a system/hidden folder, either copy and paste the folder location or change the explorer setting so that is shows hidden folders (google it).

Solved it by d

[2021-03-12 11:55] #179 closed

[2021-03-13 10:28] PatrickWehri commented on #168
I had the same error yesterday, caused by my own stupidity:
I was running the .exe from within the unextracted .zip file. The client looked the same for me, was able to log into steam, but it would never been detected as running.
Today, after a reboot and actually extracting the .zip, it works fine.

[2021-03-13 10:28] PatrickWehri commented on #159
I had the same error yesterday, caused by my own stupidity:
I was running the .exe from within the unextracted .zip file. I was able to log into steam, but it would never been detected as running.
Today, after a reboot and actually extracting the .zip, it works fine.

[2021-03-16 06:02] alxs893 opened #180 "Idling complete... When not"
It says "Idling complete"
![image](https://user-images.githubusercontent.com/57545686/111262506-2218b300-8603-11eb-9f84-9d86b220c169.png)

but it really isn't, there are lots of game that haven't been idle'd and i never played
like:
![image](https://user-images.githubusercontent.com/57545686/111262622-4d030700-8603-11eb-8df5-5c7c423cea20.png)
![image](https://user-images.githubusercontent.com/5754

[2021-03-16 07:09] JonasNilson commented on #180
Hopefully this can shine some light on the issue: https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

[2021-03-16 07:10] #177 closed

[2021-03-16 07:11] #174 closed

[2021-03-16 07:11] #173 closed

[2021-03-16 07:58] alxs893 commented on #180
ty a lot

[2021-03-16 07:58] #180 closed

[2021-03-16 08:33] JonasNilson commented on #180
@alxs893 No worries 🤘🏻

[2021-03-17 17:46] AKO1465 opened #181 "it says i dont have games to idol whene i do pls help"
[](url)
![2eaa4a3f-ac91-40e1-8dea-f671e463bab5](https://user-images.githubusercontent.com/80847626/111513476-8483c780-8759-11eb-98c3-7e94caaede4e.jpg)

[2021-03-17 17:49] AKO1465 commented on #181
![image](https://user-images.githubusercontent.com/80847626/111513777-d0cf0780-8759-11eb-8b5c-cdcfc10197c8.png)

[2021-03-17 17:56] JonasNilson commented on #181
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

That should give you an idea of what is required to get cards

[2021-03-18 14:45] NeoHowls opened #182 "Trouble farming trading cards"
add the Error log, for a few weeks it has given me this error that it no longer farms the cards, it remains static, I also cannot log into the program.
[error.log](https://github.com/JonasNilson/idle_master_extended/files/6164921/error.log)

![1](https://user-images.githubusercontent.com/80903773/111645309-55179e00-87df-11eb-868d-0659b82f3393.PNG)

I have the latest version uploaded

[2021-03-18 19:22] JonasNilson commented on #182
Looks like the application is starting in a weird state. I will have a look at the error log later when I have time.

https://github.com/JonasNilson/idle_master_extended/wiki/Get-started

[2021-03-19 06:04] hjalalian opened #183 "[Login / Logout] Sign out not work correctly"
i have 2 steam account and want to switch the steam account from idle master extended and when i click sign out and sign in again its automaly sign in to my default account so i cant change the login information

[2021-03-19 17:54] PauloWar commented on #183
the same here

[2021-03-19 18:04] PauloWar commented on #183
bro i found a solution:
https://steamcommunity.com/groups/idlemastery/discussions/0/1697168437864920721/
work for me

[2021-03-20 21:31] F9RogerF commented on #183
holaa, ayudaa por favor. me esta pasando lo mismo y cuando copio eso y lo busco no me aparece en mi computadora. me podrian explicar paso a paso como es en español? muchisimas gracias

[2021-03-20 21:37] F9RogerF opened #184 "[Login/Logout] I CAN NOT LOG IN / NO PUEDO INICIAR SESION"
Tengo 2 cuentas de Steam y quiero cambiar la cuenta de Steam  y cuando hago clic en cerrar sesión e iniciar sesión de nuevo, automáticamente se registra en mi cuenta predeterminada, así que no puedo cambiar la información de inicio de sesión. Alguien me podria dar una solucion por favor???

[2021-03-21 21:51] Proutbedaine opened #185 "[Question] Playing a game at the same time?"
Hi, sorry to bother you with this but I looked everywhere on info about this relative to this version and couldn't find anything.

I wanna know if playing a game on steam while it is running is a bad thing for the process of dropping cards? And if so, what does it affect? Because if it's still productive I'll continue having it open at the same time.

So essentially, what's more productive long te

[2021-03-21 21:54] Proutbedaine commented on #156
I have the exact same issue. I have the latest version (1.7) and randomly/intermitently my idlemaster app will disconnect from steam even though nothing else does and don't experience network issues. I'm on Win10 fyi.

I'd like to know if that affects the drops? Does it mean nothing will drop or it's not too bad?

[2021-03-23 06:47] EZG-Dgs opened #186 "Steam App Detector"
So, when I was AFK for about 3-4 hours and my laptop was out of battery the app was bugged, I mean the Steam Detector and the Sign-in button is not worked. And when I was extracting the .zip file again just for making sure that was nothing wrong, I can sign-in but the Steam Detector was not working. It's not even detecting Steam as open even I was open Steam.exe

[2021-03-23 07:30] JonasNilson commented on #186
https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

Try that and see if it helps

[2021-03-24 09:39] leanduo opened #187 "I clicked remember account"
I clicked remember account and now whenever I want to log in, I enter exactly the account that I remembered, even uninstalling the program and reinstalling it does not help, I have many accounts that are not limited to Steam and I need to farm cards on them, what should I do?

[2021-03-24 09:46] JonasNilson commented on #187
https://steamcommunity.com/groups/idlemastery/discussions/0/152392786912268315/

You could try:

- Remove all file in this folder below and try again, this is where IM stores it's settings.
C:\Users\<username>\AppData\Local\IdleMaster

[2021-03-24 11:51] leanduo commented on #187
Thank you!

Thank you!

[2021-03-26 18:27] Nikpire opened #188 "I can't use idle master without VPN ( When I open it,i have much lag)"

[2021-03-27 08:46] pontifezo commented on #187
Not working for me. Deleted C:\Users\<username>\AppData\Local\IdleMasterExtended but Idle Master Extended still auto logins  into the remembered account.

[2021-03-29 17:58] ElJanero opened #189 "Idle master stopped working"
like 2 days ago, idle master took 4 to 5 hours to idle all the cards per game. But, now it's taking more than 10 hours per game and it haven't idle the cards yet.

[2021-04-01 20:32] byzocker opened #190 "Doesn't work after selling trading cards"
So i thought it would be nice to get some trading cards to fill up my gem collection.
I ran it for about 3 hours and after that, it just stopped idling games
![image](https://user-images.githubusercontent.com/59401089/113350520-de7bb400-9339-11eb-8f09-9eed6540d487.png)
although I don't have the cards in my steam inventory because I converted them to steam gems
![image](https://user-images.githubus

[2021-04-02 07:10] KucheEdno opened #191 "Steam is not running."
Hello, it says Steam is n
![Screenshot_1](https://user-images.githubusercontent.com/81798609/113391118-4f02ef00-9393-11eb-9158-0a54fc242a0c.png)
ot running but Steam is ON. How to fix it?

[2021-04-02 07:37] JonasNilson commented on #191
This can happen if you run Steam as administrator and not idle master /or the other way around.

You can ignore the steam status under file > settings

[2021-04-02 07:38] JonasNilson commented on #190
https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete

You are eligible for a limited number of cards per game. When they've dropped you're expected to trade or buy the rest of the set

[2021-04-02 14:59] JonasNilson commented on #188
Can you describe this issue into more detail?

For example, what kind of lag do you experience?

[2021-04-02 15:00] JonasNilson commented on #189
Idle Master can't affect when Steam drops the cards, sadly. What specific games required 10+ hours?

[2021-04-02 23:58] ElJanero commented on #189
It weren't the games. It took +10 hs because i was using a limited account

El vie., 2 abr. 2021 12:00, Jonas Nilson ***@***.***>
escribió:

[2021-04-03 19:43] Kryakz commented on #187
Im also still getting the issue after deleting the local data and reextracting the zip to my documents. I'm not even logged into that account on the pc.

[2021-04-05 09:04] erkoctalhap opened #192 "talha erkoc"
dit werkt niet bij mij het telt af maar ik krijg geen ruilkaarten

[2021-04-08 03:58] graphixela commented on #185
You can play a game at the same time it's running.

[2021-04-08 05:32] Proutbedaine commented on #185
Like implied in my question, I know I can. I just wondered if it affected the idling at all. I've seen in some places saying if you play a game at the same time the cards can take wayyyy longer to drop depending on the game. But they are all 3+ old answers. So dunno if it was just an old issue that got corrected or etc. Or if there is new issues or other stuff not mentioned.

[2021-04-08 05:43] graphixela commented on #185
That's what I was implying, it's fine. But I've only played a game while idling games individually. I stopped doing games in fast mode. While obviously faster, I had issues with TrueSteamAcheivements not picking up achievements won in new games after I did that mode. That was a few months ago. You can always just try it. Your mileage may vary from others.

I've always had cards drop at the same in

[2021-04-08 06:43] Proutbedaine commented on #185
Ahhh oki I see. As long as I can do my achievement regularly in steam itself I don't care too much. Anyways been a while I finish idling all my games now I'll only have to do new ones if they have cards. Thanks for the various precise info though it's appreciated! :)

[2021-04-08 15:07] Codesolist opened #193 "[Browser] steam login not working"
not working steam login

![image](https://user-images.githubusercontent.com/62503761/114050743-34e67680-9895-11eb-9f29-2313b35754da.png)

[2021-04-09 16:22] khaledlab commented on #193
You have to close the steam login 2nd page after 5 minutes

[2021-04-10 05:32] alejoxd12313 commented on #184
tengo el mismo error no lo puedo solucionar

[2021-04-10 19:28] daywalkerpvh opened #194 "[Login / Logout] steam login not working"
nothing happens when you press login.

[2021-04-10 20:17] burcaneitor opened #195 "It worked once, never worked again"
First it just works when i run it as administrator (not the problem). But then, after i close it, it never works again.

![image](https://user-images.githubusercontent.com/82288482/114283206-efee4b80-9a1e-11eb-89a5-2766a5d7998f.png)

if i switch the default configs to this:

![image](https://user-images.githubusercontent.com/82288482/114283266-4e1b2e80-9a1f-11eb-8b91-6dc67d7ea2b8.png)

it shows th

[2021-04-11 18:39] C74K opened #196 ""Next check" is stuck at 0:00"
"Next check" is stuck at 0:00

[2021-04-12 18:34] LilUmTitti opened #197 "[Main window] Suma el tiempo de juego pero no me farmea y tampoco agrega nuevos juegos"
![image](https://user-images.githubusercontent.com/82408833/114443844-8ef08000-9ba4-11eb-9b8e-a2f17b8fb167.png)

[2021-04-12 18:35] LilUmTitti commented on #197
Me sube el tiempo de juego pero no me farmea ningun cromo y no me agrega ningun juego, ademas de q cdo termina el tiempo de comprobacion yo tengo q volver a clickear el actualizar el estado de los juegos

[2021-04-12 19:34] LilUmTitti commented on #197
esta bugeado me toma como que esta farmeando los cromos pero no me dropea ninguno

[2021-04-13 17:22] EliasEatsPants commented on #197
Traduje el texto con Google Translate, lo siento por el mal gramattik.

Yo tuve el mismo problema.
Pruebe en la configuración el comportamiento inactivo de "inactivo cada juego individualmente" y ejecute el programa como administrador.

[2021-04-13 17:22] EliasEatsPants commented on #195
I had the same problem.
Try in the settings the idle behavior from "idle each game individually" and run the program as administrator.

[2021-04-15 13:53] JonasNilson commented on #196
@C74K can you provide some screenshots of the issue?

For example the settings you have applied and if you have any error logs in your Idle Master Extended directory.

[2021-04-15 13:58] JonasNilson commented on #195
You should not have to run it as administrator, but you could try and delete the settings under `%USERPROFILE%\AppData\Local\IdleMasterExtended\`

How many hours has the game been idling, and have those hours counted in Steam?

I don't remember seeing that issue myself before. Does that happen when you run Idle Master Extended as a regular user (not administrator)

[2021-04-15 14:01] JonasNilson commented on #194
Is this still an issue? I am not able to reproduce it myself.

[2021-04-15 14:02] JonasNilson commented on #193
How are you running the application and do you get any error logs in your Idle Master Extended directory?

[2021-04-15 14:05] JonasNilson commented on #192
What games are you idling and how many hours do you have on them? Depending on how Steam sets their limits your account status will affect how many hours are required and how often your cards drop.

Free games also don't give you any card drops.

[2021-04-15 14:12] JonasNilson commented on #184
It looks like the "sign-out" functionality have changed. I am experiencing the same issue when pressing "Sign Out" in Idle Master Extended.

One solution is to delete the application data saved under `%USERPROFILE%\AppData\Local\IdleMasterExtended\` and restarting Idle Master Extended:
* ![image](https://user-images.githubusercontent.com/5990550/114883418-31a73980-9e05-11eb-933b-123cea5883ae.png)

[2021-04-15 14:13] #185 closed

[2021-04-15 16:13] C74K commented on #196
i fixed it by login to this same account in steam

[2021-04-16 04:34] #196 closed

[2021-04-16 16:21] JonasNilson commented on #156
@Proutbedaine it shouldn't affect the drop rate as Steam just thinks you closed the games as the background processes exits

[2021-04-16 23:54] Proutbedaine commented on #156
Ah oki, so that means the drops do stop happening though. So we have to reconnect like I suspected (which only makes sense ofc, but wanted to make sure). Thanks for the answer!

[2021-04-17 16:12] zRenzo commented on #194
i cant change my account to my second account

[2021-04-17 16:16] zRenzo commented on #184
Doesnt work for me :( cant change to my second account.

[2021-04-17 17:45] Savage1000 commented on #195
same here when timer goes to 0:00 timer disappears.
and when i run program after 10 sec stops playing games, in all modes fast mode, whitelist mode ... (no games runing on steam status just Online)

[2021-04-20 02:59] MdBourg98 opened #198 "[Browser window] Quick Login Error"
Quick Login shows my profile, but stops there. Didn't log in, still shows "Login Script Activated"

[2021-04-20 14:59] JonasNilson commented on #198
What happens if you try to interact with your profile (e.g. clicking any any links?)

[2021-04-20 20:18] MdBourg98 commented on #198
Nothing, no links work, no scrolling or interaction whatsoever. almost like its just an image.

[2021-04-21 15:09] JonasNilson commented on #198
@MdBourg98 can you provide screenshots of the issue and possibly some error log?

[2021-04-23 16:45] daywalkerpvh commented on #194
yes it is. still no action when pressing after login.

[2021-04-24 17:21] alisaedi76 commented on #187
the solution didnt work for me and even after deleting the data still logs in to the same account

[2021-04-24 17:24] JonasNilson commented on #187
You could try open Internet Explorer and clear data and caches. The browser window is based on IE, so it might fetch some cookies from there.

Or you could try the cookie method to log into another account (it's not the easiest way but should work)

[2021-04-24 18:50] soukass commented on #168
@JonasNilson a mi me pasa lo mismo la ventana de idle master tiene se problema , como soluciono el problema? PD: la version que tengo es la v.1.7

[2021-04-24 22:12] MFSTROYA opened #199 "[Browser window] Omeu esta diferente ("mine is different")"
ele fica assim e nao faz o loguin
![Screenshot_2](https://user-images.githubusercontent.com/83142905/115974129-f1e10000-a530-11eb-964e-0acbaaf57bf0.png)

[2021-04-27 16:29] DryreL opened #200 "[Main window] Badge page didn't load, will retry in 10 seconds - THE PROBLEM IT NEVER LOADS"
![image](https://user-images.githubusercontent.com/20909077/116278143-809a8a80-a786-11eb-8918-a0793f601c51.png)

Please fix this problem in the next version. Thank you.

[2021-05-01 07:34] psychadelix opened #201 "NO issue but request"
It would be nice if you could add the possibility, that the program saves the black- and whitelist to a .ini or .config, this way we could easily add/remove game ID's. Right now it's a bit fiddly to handle ID's while the program is running.

[2021-05-02 19:40] JonasNilson commented on #201
You can find the configuration file under:

- `%USERPROFILE%\AppData\Local\IdleMasterExtended\`

The whitelist goes under `name="whitelist"`:
[code]

[2021-05-02 20:46] psychadelix commented on #201
Thanks for the answer, I really appreciate it. Didn't expect an appdata folder because of portable app. Maybe I should have checked that before, next time I do so ;)

[2021-05-03 05:35] JonasNilson commented on #201
@psychadelix no worries. The legacy version of Idle Master was not portable but I kept the configuration setup in Idle Master Extended

[2021-05-03 08:23] Etheriul opened #203 "Bug"
I use the program usually but today I cant even open the app properly
![image](https://user-images.githubusercontent.com/72504182/116855352-e7de9180-ac01-11eb-9ebb-d160433aff30.png)

[2021-05-03 08:26] JonasNilson commented on #203
@Etheriul if you open the .exe from the zip this can happen.

Make sure to extract the zip contents and run the .exe from that directory

[2021-05-03 08:29] Etheriul commented on #203
I use the program extracted to my apps folder.I reinstalled the program several times
![image](https://user-images.githubusercontent.com/72504182/116855828-b6b29100-ac02-11eb-919d-2278a20fa9f5.png)

[2021-05-03 08:35] Etheriul commented on #203
I runned the app from the zip and it worked thank you for developing the app btw

[2021-05-03 08:35] #203 closed

[2021-05-07 15:04] Realal opened #204 "[Sign in] Hi, Idle Master Extended keeps using my other account"
Hi there,

first thanks for checking bugs for Idle Master Extended!

Now I use two steam accounts. And I have tried to idle my first account today, and no matter what I do, like erasing the idlemaster files in appdata as explained in your advices, I get no window to change my username, and the program automatically uses my 2nd steam account for idling.

I deleted also Idle Master Extended + in app

[2021-05-07 15:28] enzosanchezc commented on #184
Hey @JonasNilson what's weird about this bug is that it only happens on some _accounts_, it doesn't seem to depend of the system. Also, it started happening after the last update, at least in my case.

[2021-05-07 15:36] enzosanchezc commented on #204
Hi, i've just replied to another similar issue (#184). Please try that and let me know if it helps

[2021-05-07 16:17] Realal commented on #184
Thanks for sending me to this thread.

Hi all, yes, same problem here. To add to this thread and maybie give some hints for a solution, I will explain my situation.

So like the posters here, I have 2 accounts, and I cannot change for the account I want. I want to idle my first account, but the program keeps using my 2nd account, and I do'nt get the option to change this.

I have deleted every sin

[2021-05-07 16:18] Realal commented on #204
Hi, I replied in the thread you linked. Thanks.

[2021-05-07 17:08] enzosanchezc commented on #184
Sorry, i don't have any other solution, we'll have to wait till Jonas answers to see if he's got any hint.

I'll also add this image becouse i forgot to mention what items to delete

![image](https://user-images.githubusercontent.com/29806127/117484579-a4f02700-af3d-11eb-97cd-00aff95167a7.png)

[2021-05-07 17:39] Realal commented on #184
Thank you for your suggestion, I dit it before posting, that's the first thing I did.

And I deleted all of this + the cookies you cannot delete by this mean.

In my google browser, this is in "Paramètres" then in "Confidentialité et sécurité" then in "Cookies et autres données de site" then in "Ensemble des cookies et données de site" and finally "Tout supprimer". I am french. Google translate ma

[2021-05-07 17:50] #201 closed

[2021-05-07 17:51] #192 closed

[2021-05-07 17:51] #191 closed

[2021-05-07 17:51] #190 closed

[2021-05-07 17:51] #188 closed

[2021-05-08 14:46] #171 closed

[2021-05-10 03:20] krizx100 opened #205 "[Browser window] No carga los datos de la ventana de inicio de Steam"
![iddle](https://user-images.githubusercontent.com/83935106/117601716-06222100-b11d-11eb-9015-12f1be99d7cb.png)

El error no me deja iniciar sesion en steam, por favor arregla el problema

[2021-05-13 05:19] thekais3r opened #206 "[Sign in] Cant Sign into new account"
When try to sign out of an old account into a new one, it just keeps going back into the old account.
How do I sign into a new account?

[2021-05-13 07:04] JonasNilson commented on #206
That sounds related to #204

[2021-05-13 07:22] thekais3r commented on #206
it's also similar to #184 but there still hasnt been a fix yet

[2021-05-13 07:54] JonasNilson commented on #206
You could try the cookie login method:https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods

[2021-05-15 03:47] cocos245 opened #207 "la v1.7 dejo de funcionar o solo se me bugeo?"
![image](https://user-images.githubusercontent.com/84216503/118347108-a8bc1480-b50e-11eb-9dce-f56aaac9234d.png)

[2021-05-16 11:16] Realal commented on #204
Hi there Jonas,

I read your response today, and then the thread you linked, by any chance.

And I have found your Cookie login method!
https://github.com/JonasNilson/idle_master_extended/wiki/Login-methods

I did read this method somewhere else, but the explanations were incomplete.
Now I have followed the Cookie method in the link, and it works now!

My games from the correct account are iddling

[2021-05-17 08:50] BurAndBY opened #208 "Make Idle Master select games you want"
So you can idle games you only want.

[2021-05-17 17:04] Realal commented on #204
Please note, that when I stop iddling, and connect again, I have to use the Cookie method again. It is not repaired. -Cheers

[2021-05-18 11:23] DmitriC137 opened #209 "Doesn't detect Steam running"
I can login but idle master doesn't detect Steam running

[2021-05-22 00:01] facuxfaagvxv opened #210 "[Idling] THE APP IS NOT WORKING"
Idle Master says that i'm idling games but that's not true, i don't receive anithing in my inventory.

[2021-05-22 04:33] Vlane4884 opened #211 "The app is still working for windows 7 or XP?"

[2021-05-23 18:02] CsK1000 opened #212 "[Card drops] NOT IDLING"
It doesn´t matter how much time i left the thing idling, not a single card popped in my inventory

[2021-05-24 06:59] JonasNilson commented on #212
@CsK1000 what games have you idled and for how long?

Also, what idling mode are you using?

[2021-05-24 07:20] JonasNilson commented on #211
It should work with Windows 7 as it builds on .NET Framework (4.8). Windows XP might work...

[2021-05-24 07:21] JonasNilson commented on #210
What games are you idling and how long time have you spent idling?

Can you provide a screenshot of the games on your badge page in Steam?

[2021-05-24 07:21] #181 closed

[2021-05-24 07:25] JonasNilson commented on #209
Sounds related to: https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

[2021-05-24 07:26] JonasNilson commented on #200
Do you get any errors in the log file (should be available in the Idle Master Extended directory)

[2021-05-24 08:55] DryreL commented on #200
Sure, here it is.
[error.log](https://github.com/JonasNilson/idle_master_extended/files/6531073/error.log)

[2021-05-24 13:02] CsK1000 commented on #212
I´ve been idling Battlepaths and Mind Spheres for 2 hours in the default mode. In the previous games i tried it happened the same. I know how idling works, but i just can´t realize what is the problem and can´t solve it. Maybe is a thing from my computer? Idk.. I used to Idle before with other games and it worked perfectly, but it seems it doesn´t anymore

[2021-05-26 07:33] Warklot opened #213 "[Main window] Doesn't idle"
![image](https://user-images.githubusercontent.com/66135900/119620566-cdb55f00-be0d-11eb-905f-3dafa6183377.png)

all day it looks like this and doesnt idle any game

[2021-05-27 00:40] Totesfleisch commented on #213
Im having the same issue, i already tried deleting the entire idlemaster folder and redownload it, but it stays exactly the same.
(Left is mine for reference, right is this thread.)
I cant click anything except "Latest Release", cant even log into my account, or access the Settings.
![6841e5e19a656a131883567e1631362d](https://user-images.githubusercontent.com/62449841/119748242-bf5e5600-be94-11eb-

[2021-05-27 04:11] IkuSenpai opened #214 "[Steam API] Steam is not running"
Just says steam is not running. Restarting steam doesn't help. Nor does restarting the idle master or my computer. Just doesn't detect steam properly anymore and needs to get updated.

![image](https://user-images.githubusercontent.com/28810005/119764804-f0279680-be66-11eb-8507-ac2075fcbe20.png)

[2021-05-27 23:47] Totesfleisch commented on #214
Start steam as admin, that works for me.

[2021-05-29 15:18] Seiyaan222 opened #215 "[Browser window] steam login window doesn't work"
![Screenshot_852](https://user-images.githubusercontent.com/85028363/120075502-ede85680-c077-11eb-9dc4-18df0aaa8e60.png)

[2021-05-29 15:20] Seiyaan222 commented on #215
nothing in this window works.

[2021-05-30 18:11] eldokanawolno opened #216 "[Idling] Steam keeps online while idling"
![brokenidle](https://user-images.githubusercontent.com/85076280/120115234-042f0900-c183-11eb-9faa-fe2a08fd9130.png)
Idle Master looking like its working great, but my steam acc is showing "Online", not running game. Also i dont get any card from idling.

[2021-05-31 12:20] octoman90 opened #217 "[Enhancement] An additional eligibility check"
I had such a problem that IME was running, the counters on the games were over 4 hours, but I didn't receive any drops, similarly to issues #213 and #210.

I was using a secondary account, which was limited (because I spent less than $5 on it). I knew that limited accounts can't gain levels nor use community features like the marketplace, but I only just learned that they are also ineligible for c

[2021-06-02 08:13] Warklot commented on #217
not similary with my issue #213 because i spended over 300$ on marketplace and my level is 80.

[2021-06-02 14:47] JonasNilson commented on #213
Have you followed the steps to extract the program from the zip?

https://github.com/JonasNilson/idle_master_extended/wiki/Get-started

It might be a silly tip, but the application doesn't seem to execute properly...

[2021-06-02 16:12] uzdiiilekk opened #218 "help please"
Hello i can´t find fix for this :
![image](https://user-images.githubusercontent.com/73359998/120514725-e43f5580-c3cd-11eb-9ea4-ce4f3f1f23a7.png)
![image](https://user-images.githubusercontent.com/73359998/120514778-f1f4db00-c3cd-11eb-846f-db4b6a1d0807.png)
![image](https://user-images.githubusercontent.com/73359998/120514862-046f1480-c3ce-11eb-8ac0-0acabd4bb5fb.png)

[2021-06-02 17:50] Warklot commented on #218
because it says in 3picture no cards left? or it translated bad on google translator

[2021-06-02 17:52] Warklot commented on #213
sometimes it works sometimes it doesn't.So i dont think so that how i extrascted the progam  matters.

[2021-06-02 17:53] Warklot commented on #213
![image](https://user-images.githubusercontent.com/66135900/120528799-84a07480-c3e4-11eb-8f7e-4c45b4c9512e.png)
looks like this but never idles it loads forever

[2021-06-02 17:58] uzdiiilekk commented on #218
sorry i am idiot.. i don´t know about this
Now i reading something about it and i read that i can get limited number of cards

[2021-06-02 18:49] JonasNilson commented on #216
If you look into your Task Manager, do you see steam-idle.exe processes starting up?

![image](https://user-images.githubusercontent.com/5990550/120536108-0ba11d00-c3e4-11eb-9078-6edfb1b7134c.png)

[2021-06-03 15:08] colo13verdadeo commented on #218
Si tu juego fue canjeado gratis en steam y no por codigo, seguramente no te daran cartas por ser gratis.

[2021-06-04 11:06] SpendIce commented on #213
I have a similar issue, I've been idling for about a day now, but the game hours are all still at 0.
![image](https://user-images.githubusercontent.com/62260972/120792359-cb3cbe80-c50b-11eb-9a46-657406cf2a37.png)

[2021-06-04 12:06] Warklot commented on #213
btw try to reinstall or reopen multiply times or run  as administrator and it might work

[2021-06-04 12:53] SpendIce commented on #213
Reinstalling it worked, thanks

[2021-06-04 21:27] ookaminoken opened #219 "[Browser window] Cannot sign in"
Hi, I'm having the same problem some other users have while trying to sign in to Steam from the Idle Master window... I basically get this window:

![IME](https://user-images.githubusercontent.com/85372121/120863849-996b3c80-c58b-11eb-9fce-0c9cf5a13cc0.jpg)

I'm using Windows 7 on a borrowed old desktop PC since my laptop's hard drive died (the program worked fine on my laptop running Win10).

I c

[2021-06-04 21:31] ookaminoken commented on #219
Oh, I also tried to run IME with and without administrator privileges. It's a single-user system (so no log in to windows itself), I don't know if administrator privileges are always active, so I don't know if the Steam client runs with or without them.

[2021-06-06 11:41] JonasNilson commented on #189
Conclusion: a limited account requires more hours to get cards

https://support.steampowered.com/kb_article.php?ref=3330-iagk-7663

[2021-06-06 11:41] #189 closed

[2021-06-06 11:43] JonasNilson commented on #219
Can you open up Internet Explorer and look under "About Internet Explorer" to see what version you are using and respond with some more details?

![image](https://user-images.githubusercontent.com/5990550/120923007-8ca23200-c6cc-11eb-9abe-b4cbfb9afab6.png)
![image](https://user-images.githubusercontent.com/5990550/120923031-a2175c00-c6cc-11eb-882c-a4d8f9ee825b.png)

It might be due to running on W

[2021-06-06 11:44] JonasNilson commented on #187
**Solution**: The original author fixed the issue by clearing the stored settings.

https://github.com/JonasNilson/idle_master_extended/wiki/Delete-configuration-files

[2021-06-06 11:44] #187 closed

[2021-06-06 11:46] ookaminoken commented on #219
IE v.11.0.9600.19596

[2021-06-06 12:24] JonasNilson commented on #219
What happens if you use Internet Explorer and browse to: https://steamcommunity.com/login/home/

[2021-06-06 12:37] ookaminoken commented on #219
The login page shows just fine

[2021-06-06 18:38] krevlinmen opened #220 "[Enhancement] Got a card drop with 7 minutes of gameplay."
![image](https://user-images.githubusercontent.com/56278440/120936147-b9f6dc00-c6dc-11eb-9013-c10dd1623b9b.png)
![image](https://user-images.githubusercontent.com/56278440/120936151-bebb9000-c6dc-11eb-89c2-a68b4ceaea2a.png)

I got 1 card for this specific game after letting IME run on multiple games for 7 minutes and then closing the app. Also, you can see that I received 7 cards in quick successi

[2021-06-06 20:12] JonasNilson commented on #220
You're correct that Steam tends to favor exiting games. This behavior is leveraged while using Fast Mode: https://github.com/JonasNilson/idle_master_extended/wiki/Fast-mode

[2021-06-08 17:38] JonasNilson commented on #218
Reason: No more card drops remaining

[2021-06-08 17:38] #218 closed

[2021-06-08 17:40] JonasNilson commented on #207
https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

[2021-06-08 17:40] #207 closed

[2021-06-08 17:40] JonasNilson commented on #209
https://github.com/JonasNilson/idle_master_extended/issues/45#issuecomment-611694923

[2021-06-08 17:40] #209 closed

[2021-06-08 17:48] JonasNilson commented on #215
Related: https://github.com/JonasNilson/idle_master_extended/issues/219

[2021-06-08 17:49] JonasNilson commented on #183
Related: https://github.com/JonasNilson/idle_master_extended/issues/184

[2021-06-08 17:52] JonasNilson commented on #199
Related: https://github.com/JonasNilson/idle_master_extended/issues/219

[2021-06-08 17:55] JonasNilson commented on #212
Can you provide some more information from your Steam badge page?

Also make sure you have card drops remaining, and that your account isn't limited in some way:
* https://github.com/JonasNilson/idle_master_extended/wiki/Idling-complete#make-sure-you-are-eligible-for-card-drops
* https://support.steampowered.com/kb_article.php?ref=3330-iagk-7663

[2021-06-08 18:00] #211 closed

[2021-06-08 18:01] JonasNilson commented on #208
I guess this is related to whitelist mode? Possibly a change to it?

https://github.com/JonasNilson/idle_master_extended/wiki/Whitelist-mode

[2021-06-08 18:41] 0lm opened #221 "[Quick Login] quick login script not working anymore"
since today's steam client update, the quick login script is not working anymore. it gets stuck at "login script activated". (it worked fine just yesterday before steam client's update)

[2021-06-10 17:38] DasUnterstrich opened #222 "Can"

[2021-06-11 17:44] Anfia commented on #221
+1

[2021-06-11 17:44] Anfia commented on #221
+1

[2021-06-11 18:48] Xalturnik opened #223 "How do I automatically idle all the games in my steam library?"
I don't want to add them one-by-one using the whitelist mode, is there a way to make the app automatically idle all of them?

[2021-06-12 02:02] Allavaz commented on #223
It already does that?

[2021-06-12 08:29] Xalturnik commented on #223
No it doesn't, it only idles them until there are no more cards to be collected, after that it stops

[2021-06-12 20:25] Reidosmemes9000 opened #224 "[Login] I can not login"
I can't log in to my main account, it only connects to the secondary account because the other day I was online on it, but it got buggy and I can't log out to be able to change the account

[2021-06-13 08:46] Raidennnn commented on #203
Hello,
Could it be that the button to put the next game in inactive no longer appears? I mean the button next to the pause.
![WhatsApp Image 2021-06-13 at 05 45 29](https://user-images.githubusercontent.com/85822718/121800896-b991a000-cc0a-11eb-94ce-6eac2820341d.jpeg)

[2021-06-14 13:59] svecka commented on #224
I also cannot login anymore :(

[2021-06-14 14:00] svecka commented on #219
I have the same problem. 3 Days ago it was all fine.

[2021-06-14 21:59] p14082003 opened #225 "How do I make it so that IME stops idling a game before it hits 2 hours of play time?"
Title, basically. I'd like to do this so that I can refund the game after getting some trading cards. Is it possible? Thanks!

[2021-06-15 01:30] matrixino commented on #219
Just right click -> refresh, it load just fine then.
Also to login press the Login button, enter won't work.
If you fail a login you need to refresh again.

[2021-06-15 02:36] Reidosmemes9000 commented on #224
and how do i solve this can you help me?

Em seg., 14 de jun. de 2021 às 10:59, svecka ***@***.***>
escreveu:

[2021-06-15 09:37] milannzz commented on #225
Not possible , Valve thoght of this loophole/Exploit.
Trading card start droping after 2 hours of gameplay.

[2021-06-15 10:09] emironmp opened #226 "[Login] cant sign in my steam"
i tried with vpn and  already changed my internet connection but i cant login to steam and this is my issuse

error here :

https://s4.uupload.ir/files/sharedscreenshot_9fh7.jpg

[2021-06-17 08:39] BurAndBY commented on #208
Yes. I don't have that much time to find appid of 30 games. Make library option.

[2021-06-18 01:20] raffa258 commented on #221
+1

[2021-06-18 01:27] raffa258 opened #227 "[Quick Login] quick login script not working anymore"
the quick login script is not working anymore. it gets stuck at "login script activated".

https://s4.uupload.ir/files/sem_título_21l.png

[2021-06-18 16:48] Sergio6936 commented on #227
Yeah same here.

[2021-06-18 22:40] Yoti commented on #227
Same for me.

[2021-06-20 16:03] TheRealLegend27Sheesh commented on #227
samee

[2021-06-20 16:20] aiznation commented on #224
Delete the Idle master folder from AppData>Local. It's the solution for most of the sign in issues.

[2021-06-20 16:25] aiznation commented on #226
Close idle master. Delete the idle master folder from AppData>Local. Launch app. See if it's fixed.

[2021-06-21 10:12] docsvs commented on #227
Same here.

[2021-06-21 10:14] docsvs commented on #221
+1

[2021-06-21 10:15] docsvs commented on #226
Tried it, did not work.

[2021-06-21 13:02] MrSimSims opened #228 "Can't change Which Steam account im logged in with"
Can't change Which Steam account im logged in with bc it just auto logges me into the existing one even tho thats not the current account im logged into on steam. Where is the file that saves your login so I can delete it?

[2021-06-21 13:06] MrSimSims commented on #228
nvm #184 is the same and that already has an answer

[2021-06-21 13:06] #228 closed

[2021-06-22 21:57] False-Steel commented on #45
olá, meu idle está com problema, quando eu entro, além de dizer que a steam não está funcionando quando ela está, nem o botão de login na steam nem o de abrir configurações funciona, eu clico e eles não respondem, alguém poderia me ajudar? já tentei desinstalar e instalar novamente, e também procurei no youtube, mas não achei a solução em lugar nenhum
![image](https://user-images.githubusercontent

[2021-06-24 15:08] AnotherGuyHere opened #229 "Its idling but not really"
I have two accounts, in my first account I used Idle Master with good results but in my secondary account it does not work...

I have te same config (I just switched to my other account) so, I dont think that´s the problem, I will put my config and the info of the games.

![Config](https://user-images.githubusercontent.com/86422260/123286834-40346000-d4dc-11eb-8c0c-8b7ea8e199d5.jpeg)
![Games](http

[2021-06-24 19:43] #229 closed

[2021-06-25 01:02] Chernoid commented on #227
I'm having the same issue. This is what "error.log" file contains for me.

`6/25/2021 3:55:53 AM   Badge -> LoadBadgesAsync, for profile = https://steamcommunity.com/profiles/xxx
System.Exception: Response is null or empty. Added (+1) to RetryCount
   at IdleMasterExtended.frmMain.CheckIfResponseIsNullWithRetryCount(String response)
   at IdleMasterExtended.frmMain.<GetBadgePageAsync>d__25.MoveNex

[2021-06-25 18:47] iRaiZz opened #230 "Can't get cards"
Hi !
Since the beginning of June, I have not been able to obtain a card, is this normal?

[2021-06-26 01:09] Lucas-Di-Prinzio opened #231 "[Browser / Login] Can't login into second account"
I have idle master connected to my main steam account but when i click on discconect and then on connect it automatically connects to my main steam account so basically i cant change the account connected to idle master

[2021-06-26 12:28] MrRaf99 commented on #227
Same on mine copy

[2021-06-26 14:42] Siberet333 commented on #231
Idlemaster logs in using Internet Explorer, you can delete your Internet Explorer cookies and when you reopen idlemaster you'll be asked for a steam username/password, there you type the steam account you want to use.

[2021-06-26 14:46] Siberet333 commented on #230
For me it started malfunctioning yesterday. No card drops, application is showing some strange behavior, won't give me cards when running but after closing sometimes 5 cards will pop-up at the same time on steam.... It's also messing up with my Wifi connection and noticed a high CPU usage too, I have a very decent rig and it's noticeable.

[2021-06-27 15:06] fleur200 commented on #231
omg thanks so much

[2021-06-28 04:59] kkjguilherme commented on #227
saame

[2021-06-28 10:44] RiCkDounKs commented on #227
Same here.

[2021-06-28 10:44] RiCkDounKs commented on #227
Normal login is working?

[2021-06-28 19:45] BlackBetaHD commented on #230
i cant either

[2021-06-29 15:23] N0-Zero commented on #230
I Just started the Program Today I Will till you guys if i get anything

You and

You

[2021-06-29 16:03] int22 commented on #227
The function being used for "Quick Login" was silently removed from the steam community login page and steam client.

It can't be fixed without Valve reinstating the previously used feature or adding a new and better feature.

[2021-07-02 08:26] #222 closed

[2021-07-03 11:49] Scenal opened #232 "Idlemaster no longer detecting steam and cant sign in"
![image](https://user-images.githubusercontent.com/86877328/124353169-d7946400-dbfc-11eb-926b-0737e7e83424.png)

Idlemaster used to run fine and then  it just randomly stopped working,,,
I've tried reinstalling steam & checking for updates but the program still doesn't work.

If someone has any ideas on what I can do to resolve this issue it'd be greatly appreciated!

[2021-07-03 19:21] int22 commented on #232
It should work if you have "Steamworks.NET.dll" and "steam_api.dll" in the folder with the idle master program. Try downloading the latest release again?

If that doesn't fix your issue, I'm not sure what else to do..

[2021-07-03 20:24] Domiz15 opened #233 "[Processes] Games keep running even with steam being uninstalled and idle master extended deleted"
So basically i noticed that games won't stop running even when i deleted idle master extended (i had version 1.4 before), i then tried to switch to the last one (1.7), but it didn't help, then i tried to uninstall steam and delete all the files from my pc, but the games are still running... (i'm seeing that through the steam website on browser), can you help me please? I'm pretty desperate.

[2021-07-06 21:34] Igneit opened #234 "[Card drops] I don't get cromos"
[
![image](https://user-images.githubusercontent.com/87043463/124669338-9adc9d00-de88-11eb-951d-0fc86320ba62.png)
](url)
Hello, I have been using Iddle Master for 9 hours and I didn't receive any of the 176. What should I do? Reinstall Steam?

[2021-07-07 14:45] WinterSilence opened #235 "[Enhancement] Error in wiki"
https://github.com/JonasNilson/idle_master_extended/wiki/Get-started

Last release contain `IdleMasterExtended.exe`

[2021-07-12 15:41] Lenmaer67 commented on #232
Doesn't work for me anymore too

[2021-07-13 05:13] blazeb commented on #219
just wanted to say that this worked for me, ty!

[2021-07-13 14:15] Henzobtw opened #236 "Not Idling"
Hi, I installed the Idle Master and it has been 33 hours idling and it has not given me a card yet
I removed and also reinstalled Idle Master but I still have the same problem

[2021-07-13 16:50] cyberangel commented on #236
I can confirm - it's doing nothing.

[2021-07-13 19:37] ookaminoken commented on #219
Well, after a long while without even trying, I just by chance retried earlier today and the issue seems to have fixed itself (without even needing to do anything else), so I guess I can close the post now. Thanks a lot everyone!

[2021-07-13 19:37] #219 closed

[2021-07-16 02:21] randomraccoon opened #237 "Steam "not running""
ive tried all the things suggested for me to try but none work, i have idlemaster up, and steam but idlemaster cant detect steam. ive tried doing ignore client status and used the same user level but nothing works (im using V1.7)

[2021-07-16 02:46] randomraccoon commented on #237
i fixed it, i didnt have idle master in the folder, i had it on my desktop

[2021-07-16 02:46] #237 closed

[2021-07-21 17:48] Mayu225 opened #238 "[Browser] Can't login bc of JavaScript"
Hi,

I can't login since months bc browser says that Java is not activated. I checked it. It's activated in Chome and Internet Browser. Mozilla seems to don't support Java in general (no clue witch Browser opens).
I originally worked with 1.5. Now I tried it with 1.6 and 1.7, but no difference.

Maybe I don't see something very easy with my less technology knowlege, so, would be happy to get help